@charset "utf-8";
* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND: url(topbg.gif) #fff repeat-x; COLOR: #333; FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
BUTTON {
	FONT-SIZE: 12px
}
SELECT {
	BACKGROUND: #fff; FONT-SIZE: 12px
}
TEXTAREA {
	BACKGROUND: #fff; FONT-SIZE: 12px
}
TH {
	WHITE-SPACE: nowrap
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; DISPLAY: block; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
INPUT {
	VERTICAL-ALIGN: middle
}
SELECT {
	VERTICAL-ALIGN: middle
}
LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
A {
	COLOR: #16387c; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.clear{CLEAR:both}
.install_main{width:900px; margin:0px auto}
.install_title {
	MARGIN: 0px auto; margin-top:50px; margin-bottom:20px; margin-left:175px; text-align:left; font-size:22px; color:#3071bf ;font-family:"Microsoft YaHei",微软雅黑
}
.install_left{ float:left; width:155px;}
.install_left ul{}
.install_left ul li{ float:left; width:135px; background:#f7f7fa; color:#777; padding:15px 10px; margin-bottom:5px; font-size:16px; font-weight:700}
.install_left ul li.on{ background:#3071bf; color:#FFF;  width:145px;}
.install_right {
	PADDING-BOTTOM: 6px; float:right; PADDING-LEFT: 6px; WIDTH: 720px; PADDING-RIGHT: 6px; BACKGROUND: #f7f7fa; PADDING-TOP: 6px
}
.install_box {
	BORDER-BOTTOM: #c2d5df 1px solid; BORDER-LEFT: #c2d5df 1px solid; PADDING-BOTTOM: 10px; MARGIN: 0px auto; PADDING-LEFT: 10px; WIDTH: 698px; PADDING-RIGHT: 10px; BACKGROUND: #fff; BORDER-TOP: #c2d5df 1px solid;BORDER-RIGHT: #c2d5df 1px solid; PADDING-TOP: 10px; line-height:24px; font-size:14px;
}
.install_box P{line-height:26px; font-size:12px; color:#666}
.install_box h2{ line-height:24px; height:24px; font-size:14px; padding:6px 20px; margin-bottom:10px; font-weight:700; background:#f7f7fa}
/*表单填写*/
.form-table {
	 WIDTH: 100%; BORDER-COLLAPSE: collapse
}
.form-table TD .install_input {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 26px; MARGIN: 0px; PADDING-LEFT: 5px; WIDTH: 210px; PADDING-RIGHT: 5px; BACKGROUND: #fff; HEIGHT: 26px; COLOR: #000; FONT-SIZE: 14px; BORDER-TOP: #ddd 1px solid;BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 0px
}
.form-table TD {
 TEXT-ALIGN: left; PADDING-BOTTOM: 7px;  LINE-HEIGHT: 26px; height:26px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 13px; VERTICAL-ALIGN: top; PADDING-TOP: 7px
}
/*检测表格*/
.jc_table{ font-size:12px; line-height:22px; text-align:center}
.jc_table td{ border-bottom:1px solid #eee; padding:5px 0}
/*按键*/
.install_btn { text-align:center; padding-top:5px;}
.button {CURSOR: pointer; margin:0px;VERTICAL-ALIGN: middle; BACKGROUND: #c2d5df; border:1px solid #c2d5df}
.button:hover{BACKGROUND: #3071bf; border:1px solid #3071bf; COLOR: #fff; text-decoration:none}
.install_btn .button{font-weight:bold; margin-right:5px; padding:0px 20px; height:30px; line-height:30px; font-size:15px;}
