@charset "utf-8";
a{ color:#333;font-size:12x;}
.w280{ width:280px}
.w200{ width:200px}
.w180{ width:180px}
.box{_border:1px solid #CCC;box-shadow:0 1px 5px rgba(0, 0, 0, .25);-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .25);-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .25); background:#FFF}

input[type=text],input[type=password],input[type=url],input[type=email],textarea{background:#fff;border:1px solid #ccc;padding:3px 5px;line-height:20px}
input[type=text]:focus,input[type=password]:focus,input[type=url]:focus,input[type=email]:focus,textarea:focus{border-color:#92cae4;}
.ie6input{ _height:28px; _line-height:28px}
.form_box td{padding:5px; color:#666}
/*表格*/
.table{width:100%;border-collapse:collapse;line-height:150%}
.table td,.table th{border:1px solid #ddd;padding:5px 8px;}
.table th{text-align:left;background-color:#f3f3f3;color:#333;}
.table tr.tbg td{color:#000000;background-color:#f5f5f5;}
/*CSS page style*/
DIV.pagelist { margin:10px  0; padding:0 10px; TEXT-ALIGN: center; clear:both;}
DIV.pagelist a,DIV.pagelist SPAN{_border:1px solid #CCC;box-shadow:0 1px 5px rgba(0, 0, 0, .25);-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .25);-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .25);height:20px; line-height:20px;TEXT-DECORATION: none; color:#136fa0;  display:block; float:left; padding:0 5px; margin-left:5px;_border:1px solid #CCC;}
DIV.pagelist A:hover { BACKGROUND: #136fa0;  COLOR: #FFF;}
DIV.pagelist A:on { BACKGROUND: #136fa0; COLOR: #FFF;}
DIV.pagelist A:active { BACKGROUND:#136fa0;COLOR: #FFF;}
DIV.pagelist SPAN.current {FONT-WEIGHT: bold; BACKGROUND: #136fa0;  COLOR: #fff; }
DIV.pagelist SPAN.disabled {}
/* CSS Document */
body{background:url(../images/bg.png) repeat}
#Header{height:161px;width:100%;background:url(../images/menu_bg.png) repeat-x bottom; margin-bottom:20px}
.Top{height:120px;width:990px; margin:auto;}
.top-logo{ padding-top:20px; display:block}
.Top-right{float:right}
.tags{ color:#666}
.tags a{ color:#136fa0;}
.member-info{ margin-top:10px; text-align:right;  height:60px; width:400px; color:#666; font-family:'微软雅黑'}
.member-info a{color:#2974c5}
.searchbox{ clear:both}
.searchinput{text-align:right; }
.search-input{_height:22px}
#Main{width:990px;margin:auto}
/* menu::base */
div#menu {height: 41px;}
div#menu ul.menu {width:990px;margin:0 auto;}
div#menu li {position: relative;display: block;float: left;z-index: 9;}
div#menu li:hover>ul {left: 0;}
div#menu a {position: relative;z-index: 10;height: 41px;display: block;float: left;text-decoration: none;}
div#menu.ie6 a:hover span  {color: #fff;}
div#menu li:hover>a {background: #1aa7ea;}
div#menu a:hover {color: #fff;}
div#menu li.current a span{ color:#FFF}
div#menu span {display: block;line-height:41px;cursor: pointer;background-repeat: no-repeat; background-position: 95% 0;text-align: center;}
div#menu ul ul a.parent span {background: url(../images/item-pointer.png) no-repeat right center;}
div#menu ul ul a.parent:hover span {background-image: url(../images/item-pointer-mover.png);}
/* menu::level1 */
div#menu a {padding: 0; height: 41px;width:120px; font-family:'Microsoft YaHei'}
div#menu span {font-size:16px;color:#fff}
div#menu li.last { background: none; }

/* menu::level2 */
div#menu ul ul li {background: none;}
div#menu ul ul li,div#menu ul ul li a {z-index: auto;}
div#menu ul ul li a span{font-size:14px;}
div#menu ul ul li ul {z-index: 20;}
div#menu ul ul {display: block;position:absolute;top:41px;left:-999em;width:120px;background:#1aa7ea;}
div#menu ul ul a {padding:0;height:30px;float:none;display:block;line-height:26px;border:0;z-index:-1;white-space:nowrap;}
div#menu ul ul a span {line-height:26px;color:#fff;}
div#menu ul ul li:hover>a {border:0;}
div#menu ul ul a:hover {border:0;background:#0e8ece;}
div#menu ul ul a:hover span {}
div#menu ul ul span {margin-top:0;text-align:left;}
div#menu ul ul li.last {background:none; }
div#menu ul ul li {width:100%;text-indent:15px;}

/* menu::level3 */
div#menu ul ul ul {padding:0;margin:-41px 0 0 120px !important;margin-left:120px;}
/* lava lamp */
div#menu li.back {position: absolute;width: 10px;height: 41px;z-index: 8;}
div#menu li.back .left {height: 41px;width:120px;margin-right: 5px;background:url(../images/menubut.png) no-repeat center bottom;}
#Main{}
/*头部结束*/
/*首页大图滚动*/
.cycle-slider{ height:350px}
/*首页中部*/
a.more{ display:block; float:right; line-height:33px; font-size:11px; padding-right:10px; color:#333}
.index-mid{margin-top:30px;}
.index-mid-top{ margin-bottom:20px}
#KinSlideshow{ width:260px; height:208px; overflow:hidden}
.index-reg{margin-left:20px; background:url(../images/index_btit.gif) repeat-x top #FFF}
.index-reg h1{ text-align:center;display:block; height:30px; line-height:30px; font-size:14px; font-weight:600;  border-bottom:1px dashed #CCC}
.index-reg h1 a{color:#2974c5;}
.index-reg p{ line-height:20px; color:#666; font-size:12px; display:block; margin-top:5px; height:40px; overflow:hidden; padding:0 10px}
.index-big{width:97%; margin-bottom:20px;}
.photo-list{ padding:9px}
.photo-list li{ margin:9px 4px 9px 14px;_margin:5px 3px 5px 9px; float:left}
.photo-list li a{ display:block;}
.photo-list li span{display:block; width:145px; height:20px; overflow:hidden; text-align:center; line-height:20px; font-size:12px; color:#666}
.block{margin-bottom:20px}
.bock-tit{ height:33px;line-height:33px;background:url(../images/block_bg.gif) repeat-x; border-bottom:1px solid #CCC}
.bock-tit h2{ display:block; float:left; padding-left:10px;  color:#2974c5; font-weight:600;}
.bock-tit h3{display:block; float:left; padding-left:10px; color:#666}
.bock-tit h3 a{color:#2974c5; font-weight:400}
.bock-con{ padding:5px 8px; line-height:20px; color:#333; font-size:12px}
.bock-list{ padding:5px 5px 5px 10px;}
.bock-list li{ height:25px; padding-left:10px; background:url(../images/armark.gif) left center no-repeat}
.bock-list li a{display:block;float:left;line-height:25px;height:25px;font-size:12px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.bock-list li span{display:block;float:right;line-height:25px;height:25px; width:70px; color:#999; font-size:12px;overflow:hidden;}
.left-list{ margin-right:15px}
.links{ margin-bottom:20px}
.link{ padding:5px}
.link a{ display:block; float:left; line-height:50px; height:50px; margin:5px; text-align:center}
/*列表开始*/
.adv{ margin-bottom:20px}
.arlist{ padding:10px 15px; border-bottom:1px dashed #CCC;line-height:25px;}
.arlist a h2{ font-size:14px; font-weight:600; color:#2974c5;}
.arlist span{display:block;font-size:12px; color:#999;}
.arlist p{display:block; color:#666;}
.detail{ text-align:right; color:#2974c5}

dl.plist{border-bottom:1px dashed #CCC; padding:0 20px 10px 20px; margin-top:15px}
dl.plist dd{ line-height:23px; font-size:12px; color:#666}
dl.plist dt{float:left; width:145px; height:133px; padding: 0 20px 0 0}
dl.plist dt a{ display:block;width:145px; height:110px; }
dl.plist dt span{display:block; text-align:center; width:145px; height:23px; line-height:23px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;color:#2d87ac;}

ul.prlist{ padding:10px 0 0 10px}
ul.prlist li{ float:left; margin:10px;_margin:5px}
ul.prlist li a{display:block; width:145px; height:110px}
ul.prlist li h2{display:block;width:145px; color:#333;line-height:25px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
ul.prlist li span{display:block;width:145px;line-height:20px; color:#666; font-size:12px}

ul.bock-listp{padding:5px 0 0 5px}
ul.bock-listp li{margin:9px;_margin:5px;float:left}
ul.bock-listp li a{display:block; width:120px; height:91px}
ul.bock-listp li h2{  color:#333;width:120px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis; height:20px; line-height:20px}
/*内容页*/
h1.con-tit{ text-align:center; display:block; line-height:30px; color:#2974c5; font-weight:600; font-size:16px}
p.con-info{text-align:center;display:block; line-height:30px; color:#666;font-size:12px; border-bottom:1px dashed #CCC;margin:10px; }
p.con-instr{display:block; line-height:20px; color:#666;font-size:12px;padding:0 10px}
.content{ line-height:20px; padding:0 8px 0 13px;color:#333;}
.page{ margin-bottom:20px}
/*多说评论*/
.ds-thread{ padding:0 10px}
ul.proinfo{ margin-top:10px}
ul.proinfo li{ line-height:30px; font-size:12px; color:#333}
p.pro-instr{ line-height:20px; padding:10px; color:#333}

#play{ width:312px; height:302px; margin:10px 0 0 10px}
#play_list{width:312px; height:237px;overflow:hidden}
.jqzoom{width:310px; height:235px; }
#play_menu{width:312px; margin-top:10px}
#play_menu li{ float:left; height:42px; width:55px; margin-right:5px}

ul.next { border-top:1px dashed #ccc; padding:10px 0 10px 20px; clear:both}
ul.next li{ height:25px; line-height:25px; color:#989898}
.page-con{ width:100%}
.book-form{ margin:20px 0}
.book-list{ margin-left:20px}
.book-list-info{ height:25px; line-height:25px; background-color:#F6F6F6; color: #898989; padding-left:5px; font-size:12px}
.book-list-con{line-height:22px; padding-left:10px; color:#2d87ac;}
.book-list-back{color: #FF8000; line-height:25px;padding-left:20px;overflow:hidden; margin-bottom:10px}
.search-con{ margin-bottom:20px}
#Foot{ height:98px; width:100%; background-color:#f3f3f3; border-top:2px solid #e3e3e3}
.foot-con{ width:990px; margin:auto; padding-top:10px}
.logo{ float:left; display:block; margin-right:20px}
.copy{ float:left; line-height:25px; color:#666}
#toTop {height: 55px; width: 55px;position: fixed;bottom: 40px;right: 80px; cursor: pointer; display: none; text-indent: -999em; z-index: 999;background: url(../images/top.png) no-repeat 0 0;}
#toTop:hover {background: url(../images/top-hover.png) no-repeat 0 0;}

/*提示信息*/
.Correct,.Wrong,.Exp{height:15px;line-height:19px;padding:2px 5px 2px 10px;font-size:12px; position:absolute;}
.Correct{color:#008800;}
.Wrong{color:#8b2b34;}
.Exp{color:#006699;}