@charset "utf-8";

em{
    font-style: normal;
    font-weight: normal;
}
.group_con em {
    position: absolute;
    top: 4px;
    right: 0px;
    width: 9px;
    height: 12px;
    line-height: 12px;
    cursor: pointer;
    font-family: 'microsoft yahei', tahoma;
    -webkit-transition: scale .4s;-moz-transition: scale .4s;-ms-transition: scale .4s;-o-transition: scale .4s;transition: scale .4s;
}
.group_con em:hover {
    color: red;
    transform:scale(1.5);
}
.pgroup{
    margin-right: -40px;
    margin-bottom: 10px;
}
.group_con{
    margin-right: 40px;
    opacity: 1;
    -webkit-transition: .4s;-moz-transition: .4s;-ms-transition: .4s;-o-transition: .4s;transition: .4s;
}
