@charset "utf-8";
* {margin:0; padding:0;font-family: '微软雅黑';font-size: 12px;}
body{overflow-x: hidden;background: none repeat scroll 0 0 #E6E6E6;}
/*reset*/
ul,ol,dl,li {list-style:none; margin: 0px; padding: 0px;}
a {text-decoration:none;}
a:hover {text-decoration:none;}
a:visited {text-decoration:none;}
a:active {text-decoration:none;}
img{border:none;}
input,table {border:none; margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{ margin: 0px; padding: 0px; font-weight: normal;}
.clear{clear: both;}

/*css minify file, build at 2014-01-24 06:16:28*/
/*主要是头部CSS*/
#header .border_t {
	border-bottom: 1px solid #D7DBE1
}

#header .bg_c {
	background-color: #F5F8F8
}

#header .bg_hui {
	color: #545454!important
}

.bg_new {
	background: #FFFFE1
}

.mg_r125 {
	margin: 25px 0 25px 125px!important
}

.font_hui {
	color: #555!important
}

.find_bg {
	background: #fff!important
}

.find_btn_bg {
	background: url(../images/top_search_hover.jpg) no-repeat!important
}

.user_bg {
	background: #E6E7EA;
	border-bottom: 1px solid #D7DBE1
}

.arrow-ud_hover {
	background: url(../images/header_bg_2014.png) no-repeat -142px -67px!important
}

#header {
	width: 100%;
	z-index: 999999;
	top: 0;
	position: relative
}

.hd_scroll_box {
	width: 100%;
	float: left;
	position: relative;
	z-index: 2100;
	display: none;
	overflow: hidden;
	_width: 418px
}

#header a {
	color: #2A7FB8
}

#contacts_one_list .hd_scroll_box {
	height: 218px
}

#header .header_menu_bg {
	background: #2A2A2A;
	height: 100px;
	position: relative;
	z-index: 90
}

#header .header_menu_two {
	background-color: #4A4A4A;
	height: 40px
}

#header .header_menu_two .header_menus {
	width: 980px;
	margin: 0 auto;
	height: 40px
}

#header .header_menu {
	width: 980px;
	margin: 0 auto;
	position: relative;
	height: 60px;
	z-index: 2100
}

#header .header_menu .logo {
	width: 134px;
	height: 37px;
	background: url(../images/header_bg_2014.png) no-repeat -63px -116px;
	text-indent: -999px;
	float: left;
	margin: 12px 0 0;
	overflow: hidden
}

#header .header_menu .logo a {
	width: 134px;
	height: 37px;
	float: left
}

#header .header_menu_two ul.left_menu li a {
	height: 38px;
	float: left;
	padding: 0 20px;
	color: #EAEAEA;
	border-top: 2px solid #4A4A4A;
	font-size: 16px;
	text-decoration: none
}

#header .header_menu_two ul.left_menu li a.current {
	color: #C1392B;
	background: #E6E7EA;
	border-top: 2px solid #E84C3D
}

#header .header_menu_two ul.left_menu li a:hover {
	color: #fff;
	background: #676767;
	text-decoration: none;
	border-top: 2px solid #676767
}

#header .header_menu_two ul.left_menu li a.mover {
	color: #fff;
	background: #676767;
	text-decoration: none;
	border-top: 2px solid #676767
}

#header .header_menu_two ul.left_menu {
	float: left;
	display: inline
}

#header .header_menu_two ul.left_menu li {
	float: left;
	text-align: center;
	height: 40px;
	line-height: 35px;
	font-size: 16px;
	position: relative;
	z-index: 98
}

#header .header_menu_two ul.left_menu li .more_panel {
	width: 150px;
	position: absolute;
	left: 0;
	top: 39px;
	background: #676767;
	z-index: 1000;
	display: none;
	padding-bottom: 10px
}

#header .header_menu_two ul.left_menu li .more_panel .list_item {
	width: 150px;
	height: 30px;
	float: left;
	line-height: 30px;
	font-size: 15px;
	color: #fff;
	text-indent: 30px
}

#header .header_menu_two ul.left_menu li .more_panel .list_item a {
	padding: 0;
	border: 0;
	width: 150px;
	height: 30px;
	text-align: left
}

#header .header_menu_two ul.left_menu li .more_panel .list_item a:hover {
	background: #4a4a4a
}

#header .header_menu_two ul.left_menu li .more_panel .list_line {
	height: 1px;
	line-height: 1px;
	overflow: hidden;
	border-top: 1px solid #4a4a4a;
	margin: 5px auto;
	float: left;
	width: 150px
}

#header .header_menu_two .new_mba {
	width: 27px;
	height: 16px;
	position: absolute;
	left: 560px;
	top: 1px;
	padding: 0;
	z-index: 2110
}

#header .header_menu_two .beta {
	width: 27px;
	height: 16px;
	position: absolute;
	left: 493px;
	top: 1px;
	padding: 0;
	z-index: 2000
}

#header .header_menu .user_info {
	width: 130px;
	float: right;
	margin: 13px 0 0;
	display: none
}

#header .header_menu .user_info .user_poster {
	width: 34px;
	height: 35px;
	float: left;
	position: relative
}

#header .header_menu .user_info .user_poster img {
	width: 28px;
	height: 28px;
	float: left;
	margin: 2px 0 0 3px
}

#header .header_menu .user_info .user_poster .user_img_bg {
	width: 34px;
	height: 36px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../images/ceng.png) no-repeat
}

#header .header_menu .user_info .user_poster .user_img_bg a {
	width: 34px;
	height: 36px;
	float: left
}

#header .header_menu .user_info .user_name {
	height: 26px;
	line-height: 26px;
	float: left;
	font-size: 12px;
	color: #ccc;
	margin: 0 0 0 8px;
	padding: 0 5px;
	cursor: pointer;
	position: relative
}

#header .header_menu .user_info .user_name .user_item {
	width: 135px;
	position: absolute;
	left: 0;
	top: 27px;
	z-index: 2100;
	background: #E6E7EA
}

#header .header_menu .user_info .user_name .user_item li {
	width: 135px;
	height: 34px;
	float: left;
	line-height: 34px;
	color: #666;
	font-size: 12px;
	border-bottom: 1px solid #D7DBE1
}

#header .header_menu .user_info .user_name .user_item li a {
	color: #666;
	width: 127px;
	height: 34px;
	float: left;
	padding-left: 8px
}

#header .header_menu .user_info .user_name .user_item li a:hover {
	background: #666;
	color: #fff;
	text-decoration: none
}

#header .header_menu .user_info .user_name .zi {
	max-width: 100px;
	overflow: hidden;
	height: 20px;
	float: left;
}

#header .header_menu .user_info .user_name .arrow-ud {
	background: url(../images/header_bg_2014.png) no-repeat -116px -67px;
	float: left;
	width: 10px;
	height: 10px;
	margin: 11px 0 0 5px;
	display: inline
}

#header .header_menu .user_unlogin_info {
	width: 100px;
}

#header .header_menu .user_unlogin_info a {
	color: #fff;
}

#header .header_menu .user_unlogin_info span {
	color: #ccc
}

#header .header_menu .top_search .search_list {
	position: absolute;
	top: 32px;
	right: 0;
	z-index: 99
}

#header .header_menu .top_search .bottom_bg {
}

#header .header_menu .top_search form {
	float: left
}

#header .header_menu .top_search .search_main {
	float: left;
	border: 1px solid #D7DBE1;
	border-bottom: 0;
	background-color: #FFF;
	overflow: hidden;
	width: 278px
}

#header .header_menu .top_search .search_main li {
	border-bottom: 1px solid #eee;
	overflow: hidden;
	float: left;
	height: 35px;
	line-height: 35px;
	width: 278px;
	text-align: left
}

#header .header_menu .top_search .search_main li a {
	display: inline-block;
	width: 268px;
	height: 35px;
	text-decoration: none;
	padding-left: 10px
}

#header .header_menu .top_search .search_main li.current a,#header .header_menu .top_search .search_main li a:hover {
	background: #f6f6f6;
	border-bottom: 1px solid #fafafa
}

#header .header_menu .top_search .search_main li.search_bottom {
	border-bottom: 0
}

#header .header_menu .top_search .search_main li a {
	color: #666
}

#header .header_menu .top_search .search_main li a b {
	color: #b51c16;
	font-weight: 400
}

#header .header_menu .top_search .use_hign_search {
	float: left;
	background: #eee;
	border: 1px solid #999;
	border-top: 1px solid #ccc;
	padding: 6px 35px 8px 47px;
	_padding: 6px 34px 8px 47px
}

#header .header_menu .top_search .use_hign_search a {
	width: 72px;
	color: #1651a0
}

#header .header_menu .top_search {
	float: left;
	margin: 14px 0 0 75px;
	display: inline;
	position: relative
}

#header .header_menu .top_search .find_people {
	width: 245px;
	height: 32px;
	float: left;
	background: #ECEDEF;
	font-size: 14px;
	color: #AAA;
	line-height: 32px;
	text-indent: 10px;
	border: 0 none;
	outline: 0;
}

#header .header_menu .top_search .find_people_button {
	width: 35px;
	height: 32px;
	float: left;
	background: url(../images/top_search.jpg) no-repeat;
	cursor: pointer;
	border: 0
}

#header .header_menu .top_search .search_home {
	width: 44px;
	height: 32px;
	float: left;
	background: url(../images/input_li.jpg) no-repeat
}

#header .header_menu .top_search .search_home .search_icon {
	width: 20px;
	height: 20px;
	float: left;
	background: url(../images/header_bg_2014.png) no-repeat -81px -60px;
	margin: 6px 5px 0 7px;
	display: inline;
	cursor: pointer
}

#header .header_menu_two ul.right_menu {
	float: right;
	margin: 5px 0 0
}

#header .header_menu_two ul.right_menu li {
	float: left;
	position: relative
}

#header .header_menu_two ul.right_menu li a {
	text-decoration: none
}

#header .header_menu_two ul.right_menu li .messages_list {
	display: none
}

#header .header_menu_two ul.right_menu li .messages_list .no_notice {
	height: 40px;
	float: left;
	padding-left: 50px;
	font-size: 14px;
	color: #777;
	line-height: 40px;
	background: url(../images/no.jpg) no-repeat;
	margin: 15px 0 15px 130px;
	display: inline;
	_padding-bottom: 15px
}

#header .header_menu_two ul.right_menu li .messages_list .loding_notice {
	height: 28px;
	float: left;
	padding-left: 50px;
	font-size: 14px;
	color: #777;
	line-height: 28px;
	background: url(../images/loding.gif) no-repeat;
	margin: 15px 0 15px 85px;
	display: inline;
	_padding-bottom: 15px
}

#people_kone {
}

#new_header_message {
}

#new_header_message li a {
	float: left;
	width: 100%
}

#header .header_menu_two ul.right_menu li .messages_list {
	position: absolute;
	right: -35px;
	top: 39px;
	border: 1px solid #D7DBE1;
	background-color: #fff;
	z-index: 0;
	_top: 39px
}

#header .header_menu_two ul.right_menu li .messages_list .title_renmai {
	width: 418px;
	height: 30px;
	float: left;
	background: #ECF0F1;
	line-height: 30px;
	font-size: 15px;
	color: #545454;
	text-indent: 15px;
	border-bottom: 1px solid #D7DBE1;
	position: relative
}

#header .header_menu_two ul.right_menu li .messages_list .title_renmai a.all_kone {
	width: 50px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 12px;
	text-align: right;
	padding-right: 10px
}

#header .header_menu_two ul.right_menu li .messages_list .title_renmai .wirte_info {
	height: 30px;
	line-height: 30px;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 12px;
	text-align: right;
	padding-right: 10px
}

#header .header_menu_two ul.right_menu li .messages_list .promit_no {
	width: 418px;
	line-height: 30px;
	text-align: center;
	color: #777;
	font-size: 14px;
	float: left;
	margin: 20px 0;
	display: none
}

#header .header_menu_two ul.right_menu li .messages_list .promit_zcjy_no {
	width: 388px;
	line-height: 30px;
	text-align: center;
	color: #777;
	font-size: 14px;
	float: left;
	margin: 20px 0;
	display: inline
}

#header .header_menu_two ul.right_menu li .messages_list .emails_panel {
	width: 318px;
	overflow: hidden;
	display: none;
	margin: 0 auto;
	text-align: center
}

#header .header_menu_two ul.right_menu li .messages_list .emails_panel h6 {
	float: left;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #999;
	font-weight: 400;
	text-indent: 15px;
	margin: 10px 0 0;
	width: 300px
}

#header .header_menu_two ul.right_menu li .messages_list .emails_panel .list_itme {
	width: 65px;
	float: left;
	text-align: center;
	font-size: 12px;
	color: #999;
	line-height: 20px;
	margin: 15px 0 10px 11px;
	display: inline
}

#header .header_menu_two ul.right_menu li .messages_list .quit_btn {
	width: 114px;
	overflow: hidden;
	float: left;
	background-color: #eee;
	border-top: 1px solid #CCC
}

#header .header_menu_two ul.right_menu li .messages_list .quit_btn img {
	float: left;
	margin-right: 5px;
	margin-left: 39px;
	margin-top: 8px
}

#header .header_menu_two ul.right_menu li .messages_list .quit_btn a {
	color: #555;
	line-height: 30px;
	margin-left: 35px
}

#header .header_menu_two ul.right_menu li .bg_red {
	background-color: #CCC
}

#header .header_menu_two ul.right_menu li .messages_list .list_c {
	width: 25px;
	height: 10px;
	position: absolute;
	right: 40px;
	top: -10px;
	background: url(../images/header_bg_2014.png) no-repeat -78px -93px;
	_display: none
}

#header .header_menu_two ul.right_menu li .messages_list .contacts2_main {
	width: 388px;
	overflow: hidden;
	float: left;
	background-color: #fff
}

#header .header_menu_two ul.right_menu li .messages_list .contacts2_main li {
	width: 388px;
	overflow: hidden;
	float: left;
	border-bottom: 1px solid #D7DBE1;
	position: relative;
	height: 72px
}

#header .header_menu_two ul.right_menu li .messages_list .contacts2_main li .logo1 {
	width: 45px;
	height: 50px;
	float: left;
	border: 1px solid #D7DBE1;
	padding: 1px;
	margin-left: 15px;
	display: inline
}

#header .header_menu_two ul.right_menu li .messages_list .contacts2_main li .times {
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	color: #999;
	display: inline;
	margin-top: 5px;
	position: absolute;
	right: 10px
}

#header .header_menu_two ul.right_menu li .messages_list .contacts2_main li .logo1 img {
	width: 45px;
	height: 50px
}

#header .header_menu_two ul.right_menu li .messages_list .contacts2_main li .name1_title {
	width: 230px;
	float: left;
	overflow: hidden;
	color: #555;
	line-height: 26px;
	margin-left: 10px;
	display: inline;
	text-align: left;
	margin-top: 5px
}

#header .header_menu_two ul.right_menu li .messages_list .contacts2_main li .name1_companies {
	max-width: 130px;
	float: left;
	height: 20px;
	overflow: hidden;
	color: #999;
	line-height: 20px;
	margin-left: 10px;
	display: inline;
	text-align: left;
	margin-top: 5px
}

#header .header_menu_two ul.right_menu li .messages_list .contacts2_main li:hover {
	background-color: #F5F8F8;
	cursor: pointer
}

#header .header_menu_two ul.right_menu li .messages_list .contacts2_main li .notice_con {
	width: 280px;
	float: left;
	overflow: hidden;
	color: #545454;
	line-height: 20px;
	margin-left: 10px;
	display: inline;
	text-align: left
}

#header .header_menu_two ul.right_menu li .messages_list .contacts2_main li .notice_info_con {
	width: 245px;
	float: left;
	overflow: hidden;
	color: #545454;
	line-height: 20px;
	margin-left: 10px;
	display: inline;
	text-align: left;
	height: 45px;
	margin-top: 5px
}

#header .header_menu_two ul.right_menu li .messages_list .contacts2_main li a:hover {
	background-color: #F5F8F8;
	cursor: pointer
}

#header .header_menu_two ul.right_menu li .messages_list .more_people {
	width: 245px;
	float: left;
	line-height: 28px;
	text-align: center;
	background-color: #eee;
	border-top: 1px solid #CCC
}

#header .header_menu_two ul.right_menu li .messages_list .contacts3_main {
	width: 388px;
	overflow: hidden;
	float: left;
	background-color: #fff;
	height: 438px
}

#header .header_menu_two ul.right_menu li .messages_list .contacts3_main li {
	width: 388px;
	overflow: hidden;
	float: left;
	border-bottom: 1px solid #D7DBE1;
	position: relative;
	padding: 9px 0
}

#header .header_menu_two ul.right_menu li .messages_list .contacts3_main li .logo1 {
	width: 45px;
	height: 50px;
	float: left;
	border: 1px solid #D7DBE1;
	padding: 1px;
	margin-left: 15px;
	display: inline
}

#header .header_menu_two ul.right_menu li .messages_list .contacts3_main li .times {
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	float: right;
	color: #999;
	margin-right: 23px;
	display: inline;
	margin-top: 5px
}

#header .header_menu_two ul.right_menu li .messages_list .contacts3_main li .logo1 img {
	width: 45px;
	height: 50px
}

#header .header_menu_two ul.right_menu li .messages_list .contacts3_main li .name1_title {
	max-width: 130px;
	float: left;
	height: 20px;
	overflow: hidden;
	color: #555;
	line-height: 20px;
	margin-left: 10px;
	display: inline;
	text-align: left;
	margin-top: 5px
}

#header .header_menu_two ul.right_menu li .messages_list .contacts3_main li .name1_companies {
	max-width: 130px;
	float: left;
	height: 20px;
	overflow: hidden;
	color: #999;
	line-height: 20px;
	margin-left: 10px;
	display: inline;
	text-align: left;
	margin-top: 5px
}

#header .header_menu_two ul.right_menu li .messages_list .contacts3_main li:hover {
	background-color: #F5F8F8;
	cursor: pointer
}

#header .header_menu_two ul.right_menu li .messages_list .contacts3_main li .notice_con {
	width: 280px;
	float: left;
	overflow: hidden;
	color: #545454;
	line-height: 20px;
	margin-left: 10px;
	display: inline;
	text-align: left
}

#header .header_menu_two ul.right_menu li .messages_list .contacts3_main li .notice_info_con {
	width: 245px;
	float: left;
	overflow: hidden;
	color: #545454;
	line-height: 20px;
	margin-left: 10px;
	display: inline;
	text-align: left;
	height: 45px;
	margin-top: 5px
}

#header .header_menu_two ul.right_menu li .messages_list .contacts3_main li:hover {
	background-color: #F5F8F8;
	cursor: pointer
}

#header .header_menu_two ul.right_menu li .messages_list .more_people {
	width: 245px;
	float: left;
	line-height: 28px;
	text-align: center;
	background-color: #eee;
	border-top: 1px solid #CCC
}

#header .header_menu_two ul.right_menu li .messages_list .contacts3_main li .notice_con .yi_icon {
	width: 25px;
	height: 20px;
	float: left;
	background: url(../images/header_bg_2014.png) no-repeat 0 0
}

#header .header_menu_two ul.right_menu li .messages_list .contacts3_main li .notice_con .postion_01 {
	background-position: -167px -254px
}

#header .header_menu_two ul.right_menu li .messages_list .contacts3_main li .notice_con .postion_02 {
	background-position: -167px -288px
}

#header .header_menu_two ul.right_menu li .messages_list .contacts3_main li .notice_con .postion_03 {
	background-position: -167px -322px
}

#header .strong {
	font-weight: 700
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main {
	width: 418px;
	overflow: hidden;
	float: left;
	background-color: #fff
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li {
	width: 418px;
	overflow: hidden;
	float: left;
	border-bottom: 1px solid #D7DBE1;
	position: relative;
	padding: 9px 0;
	height: 54px
}

#header .header_menu_two ul.right_menu li .messages_list .contacts2_main li a {
	width: 388px;
	overflow: hidden;
	float: left;
	padding: 9px 0
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li .bi_x {
	width: 13px;
	height: 15px;
	position: absolute;
	top: 6px;
	right: 15px;
	background: url(../images/header_bg_2014.png) no-repeat -124px -90px
}

#header .header_menu_two ul.right_menu li .messages_list .contacts3_main li .bi_x {
	width: 13px;
	height: 15px;
	position: absolute;
	top: 4px;
	right: 15px;
	background: url(../images/header_bg_2014.png) no-repeat -124px -90px
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li .bi_x1 {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 24px;
	right: 18px;
	background: url(../images/header_bg_2014.png) no-repeat -65px -329px;
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li .agree_btn {
	width: 60px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background: url(../images/header_bg_2014.png) no-repeat -64px -173px;
	color: #fff;
	text-decoration: none;
	position: absolute;
	right: 52px;
	top: 25px;
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li .agree_btn:hover {
	background: url(../images/header_bg_2014.png) no-repeat -64px -213px

}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li .ignore_btn {
	width: 60px;
	height: 24px;
	float: left;
	line-height: 24px;
	text-align: center;
	background: url(../images/header_bg_2014.png) no-repeat -134px -173px;
	margin: 7px 0 0;
	color: #fff;
	text-decoration: none
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li .ignore_btn:hover {
	background: url(../images/header_bg_2014.png) no-repeat -134px -213px
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li .adds_btn {
	width: 57px;
	height: 24px;
	line-height: 24px;
	text-align: left;
	background: url(../images/header_bg_2014.png) no-repeat -63px -366px;
	color: #fff;
	text-decoration: none;
	padding-left: 20px;
	position: absolute;
	right: 52px;
	top: 25px;
	display: none;
	overflow: hidden
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li .adds_btn:hover {
	background: url(../images/header_bg_2014.png) no-repeat -64px -403px
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li .adds_btn_yi {
	width: 77px;
	height: 24px;
	line-height: 24px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	color: #fff;
	background: #BEC3C7;
	cursor: default;
	position: absolute;
	right: 52px;
	top: 25px;
	display: none
}

#header .header_menu_two ul.right_menu li .messages_list ul li.current .bi_x1,#header .header_menu_two ul.right_menu li .messages_list ul li.current .agree_btn {
	display: block
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li.current .adds_btn {
	display: block
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li .logo1 {
	width: 45px;
	height: 50px;
	float: left;
	border: 1px solid #D7DBE1;
	padding: 1px;
	margin-left: 15px;
	display: inline
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li .times {
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	float: right;
	color: #999;
	margin-right: 32px;
	display: inline
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li .logo1 img {
	width: 45px;
	height: 50px
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li .name1_title {
	width: 130px;
	float: left;
	height: 20px;
	overflow: hidden;
	color: #000;
	line-height: 20px;
	margin-left: 10px;
	display: inline;
	text-align: left;
	margin-top: 5px
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li .name1_companies {
	width: 320px;
	float: left;
	overflow: hidden;
	color: #545454;
	line-height: 32px;
	margin-left: 10px;
	display: inline;
	text-align: left
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li .new_msg {
	font-weight: 700
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li .name1_companies .yi_icon {
	width: 20px;
	height: 20px;
	background: url(../images/header_bg_2014.png) no-repeat -137px -17px;
	display: inline-block;
	*display: inline;
	vertical-align: middle
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li .name1_title .name_titles {
	max-width: 80px;
	height: 20px;
	overflow: hidden;
	float: left
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li .name1_title a {
	color: #2A7FB8;
	max-width: 80px;
	height: 20px;
	overflow: hidden;
	float: left
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li .name1_title img {
	float: left;
	margin-top: 4px;
	margin-left: 5px;
	display: inline;
	width: 23px;
	height: 11px
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li:hover {
	background-color: #F5F8F8;
	cursor: pointer
}

#header .header_menu_two ul.right_menu li .messages_list .more_people {
	width: 245px;
	float: left;
	line-height: 28px;
	text-align: center;
	background-color: #eee;
	border-top: 1px solid #CCC
}

#header .header_menu_two ul.right_menu li .messages_list .more_people a {
	color: #555;
	width: 245px;
	height: 28px;
	float: left
}

#header .header_menu_two ul.right_menu li .messages_list .message_main {
	width: 114px;
	overflow: hidden;
	float: left;
	background-color: #fff
}

#header .header_menu_two ul.right_menu li .messages_list .message_main li {
	width: 114px;
	overflow: hidden;
	border-bottom: 1px dashed #eee;
	background-color: #fff;
	font-size: 12px;
	color: #535353
}

#header .header_menu_two ul.right_menu li .messages_list .notices_title {
	width: 388px;
	height: 30px;
	float: left;
	background: #ECF0F1;
	line-height: 30px;
	font-size: 15px;
	color: #545454;
	text-indent: 15px;
	border-bottom: 1px solid #D7DBE1;
	position: relative
}

#header .header_menu_two ul.right_menu li .messages_list .top_poster {
	width: 32px;
	height: 34px;
	float: left;
	padding: 2px;
	border: 1px solid #E9E6E0;
	margin-left: 15px
}

#header .header_menu_two ul.right_menu li .messages_list .top_poster img {
	width: 32px;
	height: 34px
}

#header .header_menu_two ul.right_menu li .messages_list .top_name {
	width: 45px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	float: left;
	margin-left: 7px;
	margin-top: 10px;
	display: inline
}

#header .header_menu_two ul.right_menu li .messages_list .top_poster img {
	float: left
}

#header .header_menu_two ul.right_menu li .messages_list .message_main li a {
	color: #535353;
	width: 99px;
	overflow: hidden;
	padding: 5px 0;
	float: left;
	padding-left: 15px;
	text-decoration: none
}

#header .header_menu_two ul.right_menu li .messages_list .message_main li a:hover {
	background-color: #F6F6F6;
	cursor: pointer;
	color: #2A7FB8
}

#header .header_menu_two ul.right_menu li .messages_list .message_main li .promit_icon {
	height: 15px;
	background-color: #E95C45;
	padding: 0 5px;
	float: left;
	margin-top: -20px;
	border-radius: 5px;
	white-space: nowrap;
	line-height: 15px;
	margin-left: 75px;
	color: #fff
}

#header .header_menu_two ul.right_menu li.contacts {
	height: 32px;
	width: 32px;
	background: url(../images/header_bg_2014.png) no-repeat -9px -10px;
	margin-right: 15px;
	_height: 30px
}

#header .header_menu_two ul.right_menu li.contacts .icon_01 {
	width: 32px;
	height: 32px;
	float: left;
	_height: 30px
}

#header .header_menu_two ul.right_menu li.contacts img {
	float: left
}

#header .header_menu_two ul.right_menu li.contacts_hover {
	background: url(../images/header_bg_2014.png) no-repeat -10px -174px;
	width: 32px;
	height: 28px;
	cursor: pointer
}

#header .header_menu_two ul.right_menu li.notices {
	height: 32px;
	width: 32px;
	background: url(../images/header_bg_2014.png) no-repeat -9px -77px;
	margin-right: 15px;
	_height: 30px
}

#header .header_menu_two ul.right_menu li.notices .icon_01 {
	width: 32px;
	height: 32px;
	float: left;
	_height: 30px
}

#header .header_menu_two ul.right_menu li.notices img {
	float: left
}

#header .header_menu_two ul.right_menu li.notices_hover {
	background: url(../images/header_bg_2014.png) no-repeat -9px -324px;
	width: 32px;
	height: 28px;
	cursor: pointer
}

#header .header_menu_two ul.right_menu li.message {
	height: 32px;
	width: 32px;
	background: url(../images/header_bg_2014.png) no-repeat -12px -45px;
	margin-right: 15px;
	_height: 30px
}

#header .header_menu_two ul.right_menu li.message .icon_01 {
	width: 32px;
	height: 32px;
	float: left;
	_height: 30px
}

#header .header_menu_two ul.right_menu li.message img {
	float: left
}

#header .header_menu_two ul.right_menu li.message_hover {
	background: url(../images/header_bg_2014.png) no-repeat -11px -221px;
	width: 32px;
	height: 28px;
	cursor: pointer
}

#header .header_menu_two ul.right_menu li.tool {
	height: 32px;
	width: 32px;
	background: url(../images/header_bg_2014.png) no-repeat -8px -273px;
	margin-right: 15px;
	_height: 30px
}

#header .header_menu_two ul.right_menu li.tool .icon_01 {
	width: 32px;
	height: 32px;
	float: left;
	_height: 30px
}

#header .header_menu_two ul.right_menu li.tool img {
	float: left
}

#header .header_menu_two ul.right_menu li.tool_hover {
	background: url(../images/header_bg_2014.png) no-repeat -10px -118px;
	width: 32px;
	height: 28px;
	cursor: pointer
}

#header .header_menu_two ul.right_menu li .span_promit {
	height: 24px;
	overflow: hidden;
	line-height: 24px;
	text-align: center;
	font-size: 12px;
	color: #fff;

	position: absolute;
	right: -8px;
	top: -3px;
	width: 24px;
	display: none;
	background: url(../images/noticeBg.png) no-repeat
}

#header .header_menu_two ul.right_menu li.login a,#header .header_menu_two ul.right_menu li.register a {
	color: #fff
}

.no_login_panel .go_tianji a {
	color: #fff;
	text-decoration: none
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li .name1_title img.none {
	display: none
}

#header .header_menu_two ul.left_menu li .yellow {
	color: #FFFF73
}

#look_list1,#contacts_one_list {
	width: 418px
}

#look_list2 {
	width: 388px;
	_overflow: hidden
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li .name2_title {
	max-width: 130px;
	float: left;
	height: 20px;
	overflow: hidden;
	color: #555;
	line-height: 20px;
	margin-left: 10px;
	display: inline;
	text-align: left;
	margin-top: 5px
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li .name2_companies {
	max-width: 130px;
	float: left;
	height: 20px;
	overflow: hidden;
	color: #999;
	line-height: 20px;
	margin-left: 10px;
	display: inline;
	text-align: left;
	margin-top: 5px
}

#new_header_message li span.icon {
	display: inline-block;
	background: url(../images/poke.gif) no-repeat 0 0;
	width: 20px;
	height: 20px;
	margin: -4px 5px 0 5px;
	vertical-align: middle;
	_margin-top: 0
}

#new_header_message li span.p01 {
	background-position: 0 0
}

#new_header_message li span.p08 {
	background-position: -420px 0
}

#new_header_message li span.p31 {
	background-position: -120px 0
}

#new_header_message li span.p33 {
	background-position: -160px 0
}

#new_header_message li span.p70 {
	background-position: -40px 0
}

#new_header_message li span.p62 {
	background-position: -260px 0
}

#new_header_message li span.p04 {
	background-position: -60px 0
}

#new_header_message li span.p02 {
	background-position: -20px 0
}

#new_header_message li span.p35 {
	background-position: -200px 0
}

#new_header_message li span.p37 {
	background-position: -440px 0
}

#new_header_message li span.p71 {
	background-position: -180px 0
}

#new_header_message li span.p69 {
	background-position: -480px 0
}

#new_header_message li span.p07 {
	background-position: -400px 0
}

#new_header_message li span.p06 {
	background-position: -100px 0
}

#new_header_message li span.p32 {
	background-position: -140px 0
}

#new_header_message li span.p38 {
	background-position: -460px 0
}

#new_header_message li span.p61 {
	background-position: -240px 0
}

#new_header_message li span.p68 {
	background-position: -380px 0
}

#header .header_menu_two ul.left_menu li.ce-new-li {
	position: relative
}

#header .header_menu_two ul.left_menu li span.ce-new {
	display: inline-block;
	background: url(../images/ce_new.png) no-repeat 0 0;
	width: 27px;
	height: 18px;
	position: absolute;
	top: 2px;

	right: 0;
	z-index: 10
}

#container_index,#container,#header {
	min-width: 980px;
	height:auto;
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li ul.star_list {
    margin-left: 5px;
}
#header .header_menu_two ul.right_menu li .messages_list .contacts_main li ul.star_list li {
	display: inline-block;
	cursor: pointer;
	background: url(../images/hr_icon.png) no-repeat -6px -8px;
	margin-top: 11px;
	width: 17px;
	height: 18px;
	list-style: none
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li span.name1_title {
	width: auto;
	float: left;
	_display: block
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li ul.star_list {
	margin-left: 5px;
	*display: inline
}

#header .header_menu_two ul.right_menu li .messages_list .contacts_main li ul.star_list li {
	margin-top: 5px;
	list-style: none;
	border-bottom: 0;
	padding: 0;
	_display: inline;
	_zoom: 1;
	_margin-top: 3px
}

#header .header_menu_two ul.right_menu li a {
	_float: none
};

/*头部结束*/

form, input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    font: 12px/1.25em "Microsoft YaHei",tahoma,arial;
}
input, textarea {
    border: medium none;
}
body, ul, li, dl, dt, dd, h1, h2, h3, h4, p, a, form, textarea, input {
    margin: 0;
    padding: 0;
}
form, input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    font: 12px/1.25em "Microsoft YaHei",tahoma,arial;
}
input, textarea {
    border: medium none;
}
body, ul, li, dl, dt, dd, h1, h2, h3, h4, p, a, form, textarea, input {
    margin: 0;
    padding: 0;
}
form, input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    font: 12px/1.25em "Microsoft YaHei",tahoma,arial;
}
input, textarea {
    border: medium none;
}
body, ul, li, dl, dt, dd, h1, h2, h3, h4, p, a, form, textarea, input {
    margin: 0;
    padding: 0;
}

/*主要是footer部分*/

.footer_login_panel{width: 100%;float: left;overflow: hidden;background: #43403F;}
#footer {width:700px;text-align:center;margin:15px auto;line-height:30px;color:#999999; position: relative; _margin-bottom: 0px;}
#footer .footer_icon{ width: 34px; height: 42px; position: absolute; right:89px; top:40px;_right:100px;}
#footer a,#footer a:visited{color:#CCCCCC;padding:0px 7px; }
#footer a:hover{
	text-decoration:underline;
}
#footer_bg {padding: 45px 0px;border-top: 1px solid #5B5958; font-size: 12px; color:#999999;}
#footer .font_cl{color:#999999; }
.footer_login_panel .friendlink{width: 1030px;margin: 50px auto 30px auto;overflow:hidden;}
 
.footer_login_panel .friendlink span {
     font-size:14px;
	 margin-right: 6px;
}
.footer_login_panel .friendlink span, .footer_login_panel .friendlink a {
 	color: #999999;
    float: left;
    line-height: 20px;
    margin-right: 13px;
}
.friendlink a:hover{
	text-decoration:underline;
}

 
.footer_btn{width: 175px;height: 38px;float: left;background: #EB6F63;border-radius:3px;font-size: 21px;color: #fff;font-family: '微软雅黑';line-height: 38px;text-align: center;cursor:pointer;}
.footer_btn:hover{background: #F36457;}

/**省市选择**/
#mycitys select {
display: inline-block;
vertical-align: middle;
height: 30px;
padding: 5px;
height: 22px\9;
font-size: 14px;
}

/**按钮样式**/

.p-btn {
margin-left: 65px;
display: inline-block;
margin-top: 40px;
}

.dj-btn-xl {
height: 40px;
line-height: 40px;
padding: 0 27px;
font-size: 20px;
font-family: 'microsoft yahei',tahoma,sans-serif;
}

.dj-btn-info:hover, .dj-btn-info:focus {
	border-radius:5px;
border: 1px solid #046597;
background-color: #1678ac;
background-image: -webkit-linear-gradient(top,#1888bd,#1676ab);
background-image: -moz-linear-gradient(top,#1888bd,#1676ab);
background-image: -o-linear-gradient(top,#1888bd,#1676ab);
background-image: linear-gradient(to bottom,#1888bd,#1676ab);
text-decoration: none;
color: #fff;
}

.dj-btn-info {
	border-radius:5px;
border: 1px solid #086b9d;
background-color: #1b86bb;
color: #fff;
background-image: -webkit-linear-gradient(top,#1f92c8,#1980b4);
background-image: -moz-linear-gradient(top,#1f92c8,#1980b4);
background-image: -o-linear-gradient(top,#1f92c8,#1980b4);
background-image: linear-gradient(to bottom,#1f92c8,#1980b4);
}
