@charset "utf-8";

/*全局属性*/
body {font-family:Verdana, "微软雅黑"; font-size:12px; background:url(../images/bg.gif)}
/*清除浮动样式*/
.clear {clear:both; overflow:hidden; height:0px;font-size:0;}
/*fieldset是表单的属性，img的边框设置0*/
fieldset,img{border:0;}
/**a，a:hover的统一属性*/
a {color:#666; text-decoration:none;}
a:hover {color:#1196dc; text-decoration:underline;}
/*ul  li 属性*/
ul li, .xl li {list-style:none;}
/*所有的元素默认margin padding为0*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
/*定义常用的浮动及显示*/
.l {float:left;}
.r {float:right;}
.dis{display:block;}
.undis{display:none;}
#wrapper {width:960px;_width:980px; margin:0 auto; overflow:hidden;}

.ads {
position: relative;
width: 280px;
height: 130px;
margin: 0px auto;
margin-bottom: 10px;
}
.ads img{
width: 280px;
height: 130px;
}
/*广告区样式*/
#index_banner { width:960px; margin-top:8px; position:relative}
#index_banner .adclose { position:absolute; top:5px; right:5px; color:#fff; cursor:pointer; font-weight:bold}
.index_f_ad { display:none; width:956px; margin-bottom:10px; border:1px solid #ccc; padding:1px 0px 1px 2px; background:#fff}
.index_f_ad img { margin-right:1px}


/* 头部 */
#header {margin:0 auto; background:url(../images/header_bg.jpg) repeat-x; height:77px;z-index:999;position:relative;}
#header .top {margin:0 auto; width:960px; background:url(../images/top_bg.jpg) no-repeat;height:77px;}
#header .top .logo {width:262px; height:77px; float:left}
#header .top .search {float:right; margin-top:25px}
#header .top .search .txtSearch{float:left;width:120px;padding-left:5px;height:26px;line-height:26px;vertical-align:bottom;border:1px solid #bfc7cf; border-right:none} 
/*float:left;重要的属性*/
#header .top .search .selSearch{float:left;width:65px;background:#f1f2f2;height:26px;line-height:26px;border:1px solid #bfc7cf;border-left:0; padding-left:5px} 
#header .top .search .nowSearch{float:left;width:40px;height:26px;line-height:26px;overflow:hidden;padding-left:9px;} 
#header .top .search .btnSel{float:right;width:14px;height:26px;} 
#header .top .search .btnSel a{background:url(../images/search_arr.gif) 0px 10px no-repeat;display:block;width:14px;height:22px;} 
#header .top .search .selOption{z-index:998;margin-left:-5px;width:70px;background:#fff;} 
#header .top .search .selOption a{height:26px;padding-left:12px;line-height:26px;color:#000;text-decoration:none; display:inline-block;width:58px;} 
#header .top .search .selOption a:hover{color:#fff;background:#ccc;} 
/*搜索按钮属性*/
#header .top .search .btnSearch{float:left;width:31px;height:28px;overflow:hidden;} 
#header .top .search .btnSearch a{background:url(../images/search_btn.gif) no-repeat;display:block;height:28px;overflow:hidden;} 


/* 左侧菜单 */
#nav { width:100%; background:url(../images/nav_bg.gif) repeat-x  center; height:38px;position:relative;z-index:99}

/*真正的nav大小限制宽度*/
#nav .nav {margin:0 auto; width:960px;height:38px; position:relative;}
.nav_0515 {position:relative;width:960px; margin:0px auto; }
/*主导航样式*/
#nav .nav .main_nav { width:710px; float:left}
#nav .nav .main_nav li {float: left;position: relative;z-index: 5; background:url(../images/nav_line.gif) right no-repeat; width:122px;}
#nav .nav .main_nav li a {color: #fff;display: block;text-decoration: none;line-height: 38px;text-align: center;font-family:"微软雅黑"; font-size:18px; width:120px;}
#nav .nav .main_nav li a:hover {background: url(../images/nav_hover.gif) no-repeat;}
/*当前导航的样式*/
#nav .nav .main_nav li .hover {background: url(../images/nav_hover.gif) no-repeat; }



/* 右侧菜单,用户区域 */
#nav .nav .user_nav { width:250px; float:right;margin-top:7px}

/*用户登录之后的样式*/

/*登录之后样式结束*/

/*登录之前的样式*/
#nav .nav .user_nav .snslogin { width:133px; height:26px; text-align:center; background:url(../images/snsloginbg.png) no-repeat; float:left;}
#nav .nav .user_nav .snslogin img{ padding:3px 0px 0px 0px; margin:0px 5px; }
#nav .nav .user_nav .login { line-height:28 px; margin-top:5px; float:left; color:#fff; width:90px; text-align:center}
#nav .nav .user_nav .login a { color:#fff; margin:0px 5px}


/* 页面划分 */
#main_content { width:670px;margin-top:-5px; }

#main_content .mainbody { width:670px; position:relative}

/* 侧边栏 */
#main_sidebar  { width:280px;margin-top:10px;}

/* 幻灯 */
#index_focus { width:670px; margin-bottom:10px; margin-top:15px;}
#focus {width:670px; height:275px; overflow:hidden; position:relative;}
#focus ul {height:275px; position:absolute;}
#focus ul li {float:left; width:670px; height:280px; overflow:hidden; position:relative; background:#000;}
#focus ul li div {position:absolute; overflow:hidden;}
#focus ul li span{position:absolute; left:10px; bottom:12px; color:#fff !important; font-size:12px; z-index:2;}
#focus .btnBg {position:absolute; width:670px; height:54px; left:0; bottom:0; background:#000;}
#focus .btn {position:absolute; width:650px; height:20px; padding:5px 10px; right:0; bottom:0; text-align:right;}
#focus .btn span {display:inline-block; _display:inline; _zoom:1; width:20px; height:20px; _font-size:0; margin-left:5px; cursor:pointer; background:#fff; text-align:center; color:#000; line-height:20px}
#focus .btn span.on {background:#fff;}
/*幻灯片文字*/
#focus ul li .rule{ position:relative; width:400px; height:50px; top:-50px; left:4px; z-index:10;}


/*侧边栏公告*/
#main_sidebar .column_listbox { float:left; width:278px; border:1px solid #c8cfd7; background:#fff; margin-bottom:10px}
#main_sidebar .column_listbox .title { height:34px; background:url(../images/cbox_tbg.gif) repeat-x; border-top:2px solid #39b3f2; border-bottom:0px solid #c8cfd7;}
#main_sidebar .column_listbox .title h2 { font-size:15px; font-weight:bold; color:#3c3f43; line-height:34px; padding-left:20px}

#main_sidebar .column_listbox ul{ line-height:25px;  padding:0; margin:6px 0px 0px}
#main_sidebar .column_listbox ul li {height:25px; margin-left:12px; margin-bottom:5px; background:url(../images/li_list_arr.gif) 0px 12px no-repeat; padding-left:12px; font-size:14px}
#main_sidebar .column_listbox ul li.more {height:25px; margin-left:12px; margin-bottom:5px;  padding-right:12px; font-size:14px;text-align:right; background:none}
#main_sidebar .column_itabbox{ width:278px;border:1px solid #c8cfd7;background:#fff; margin-bottom:10px; border-top:none}
#main_sidebar .column_itabbox .ci_list{ background:#fff; padding:4px 10px 12px 10px}
#main_sidebar .column_itabbox .title{ height:34px; background:url(../images/cbox_tbg.gif) repeat-x;border-bottom:1px solid #ccc; border-top:2px solid #39b3f2;}
/*作坊达人*/
#main_sidebar .column_itabbox{ width:278px;border:1px solid #c8cfd7;background:#fff; margin-bottom:10px; border-top:none}
#main_sidebar .column_itabbox .ci_list{ background:#fff; padding:4px 10px 12px 10px}
#main_sidebar .column_itabbox .title{ height:34px; background:url(../images/cbox_tbg.gif) repeat-x;border-bottom:1px solid #ccc; border-top:2px solid #39b3f2;}
#main_sidebar .column_itabbox .title h2{height:34px; display:block; padding-left:20px;line-height:34px; font-size:15px; font-weight:bold; color:#3c3f43;  border-top:1px solid #c8cfd7; width:278px}
#main_sidebar .column_itabbox .title h2.hover{height:33px; background:url(../images/itab_tbg.gif) repeat-x; display:block; float:left; text-align:center; font-weight:bold; font-size:15px; cursor:pointer;line-height:30px; border-top:2px solid #39b3f2;border-right:1px solid #ccc;border-left:1px solid #ccc; margin:0px -1px}
#main_sidebar .column_itabbox ul{padding:0; margin:0px}
#main_sidebar .column_itabbox ul li { line-height:30px; font-size:12px; border-bottom:1px solid #e8eaec; padding-bottom:3px}
#main_sidebar .column_itabbox span { line-height:16px; color:#fff; font-weight:100; font-size:10px; text-align:center; width:16px;display:inline-block; margin-right:8px; height:16px}
#main_sidebar .column_itabbox .Orange{ background:url(../images/Rank_bg.gif) no-repeat scroll 0px 0px transparent; }
#main_sidebar .column_itabbox .gray{ background:url(../images/Rank_bg.gif) no-repeat scroll -16px 0px transparent; }

#main_sidebar .column_itabbox .r_index{position:relative; width:260px; top:8px;}
#main_sidebar .column_itabbox .r_usericon{position:relative; width:25px; display:inline-block; float:left;}
#main_sidebar .column_itabbox .r_number{position:relative; width:25px;display:inline-block; float:left; }
#main_sidebar .column_itabbox .r_username{ position:relative; display:inline-block; float:left; width:40px; height:40px; left:25px; line-height:15px; width:180px; }
#main_sidebar .column_itabbox .r_jifen{ position:absolute; width:90px; height:20px; font-size:12px; left:80px; text-align:right;top:0px; }
#main_sidebar .column_itabbox .r_guanzhu{ position:relative; display:block;padding-top:6px;}

/*返回顶部*/
.back-to {
	bottom: 35px;
	overflow: hidden;
	position: fixed;
	right: 10px;
	width: 110px;
	z-index: 999;
}
.back-to .back-top {
	background: url("../images/back-top.png") no-repeat scroll 0 0 transparent;
	display: block;
	float: right;
	height: 50px;
	margin-right: 80px;
	outline: 0 none;
	text-indent: -9999em;
	width: 50px;
}
.back-to .back-top:hover {
	background-position: -50px 0
}

/* 底部 */
#footer { background:#42474c;margin:0 auto; text-align:center; padding:10px 0px; color:#fff; line-height:25px;}
#footer a { color:#fff;text-decoration:none;}
#footer a:hover {color:#1196dc; text-decoration:underline;}
