@charset "utf-8";
/* CSS Document */
#container_index
{
	min-width:980px;
	width: auto;
	margin: 0;
	padding-top: 10px;
	min-height: 700px;
}
.mba_channel_nav 
{
	width: 940px;
	margin: 15px auto 8px auto;
	background: url(../images/first_tag.gif) no-repeat top left;
	display: block;
	height: 41px;
	padding-left: 40px;
}
.mba_channel_nav ul {
	float: left;
	width: 937px;
	display: block;
	height: 41px;
	background: url(../images/navbj.gif) repeat-x left top;
}
.mba_channel_nav .first_tag {
	font-family: '微软雅黑';
	font-size: 18px;
	color: #555555;
	background: none;
}
.mba_channel_nav li {
	float: left;
	height: 41px;
	font-family: '微软雅黑';
	font-size: 14px;
	line-height: 40px;
	background: url(../images/borders.gif) no-repeat right center;
}
.mba_channel_nav .first_tag span {
	background: url(../images/jjt.gif) no-repeat right 13px;
	display: block;
	font-size: 18px;
	color: #555555;
	padding: 0 28px;
	font-family: '微软雅黑';
}
.mba_channel_nav li a:link, .mba_channel_nav li a:visited {
	color: #777;
}
.mba_channel_nav li .root {
	background: url(../images/rootjt.gif) no-repeat center bottom;
}
.mba_channel_nav li a {
	color: #777;
	font-size: 14px;
	display: block;
	height: 45px;
	float: left;
	cursor: pointer;
}
.mba_channel_nav li a span {
	padding: 0 30px;
	font-family: '微软雅黑';
	font-size: 14px;
	display: block;
	float: left;
}
.mba_channel_nav .last_tag {
	float: left;
	background: url(../images/last_tag.gif) no-repeat top left;
	width: 3px;
	height: 41px;
	display: block;
}
.clear {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.container_content {
	width: 980px;
	margin: 15px auto 20px auto;
} 
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.contentLeft {
	float: left;
	width: 715px;
}
.imgShow {
	border: 1px solid #e2dcd8;
	width: 713px;
	height: 260px;
	position: relative;
}
.imgShow .jrdts {
	display: block;
	background: url(../images/jrdt.png) no-repeat top center;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 72px;
	height: 24px;
	z-index: 2;
}
.showLeft {
	float: left;
	width: 430px;
	height: 260px;
	position: relative;
}
.imgShow img {
	float: left;
}
.showRight {
	float: right;
}
.upImg, .downImg {
	width: 281px;
	height: 129px;
	position: relative;
}
.upImg {
	margin-bottom: 2px;
}
media="screen"
.upImg, .downImg {
width: 281px;
height: 129px;
position: relative;
}
.blank_15px {
height: 15px;
line-height: 0;
font-size: 0;
clear: both;
}
.blank_30px {
    clear: both;
    font-size: 0;
    height: 30px;
    line-height: 0;
}
.employ_1 {
border: 1px solid #e2dcd8;
}
.htitle {
background: #f8f8f8;
border-top: 1px solid #ffffff;
border-bottom: 1px solid #e2dcd8;
font-family: '宋体';
height: 32px;
line-height: 32px;
}
.htitle span {
float: left;
font-size: 12px;
color: #555555;
font-weight: bold;
margin-left: 15px;
display: inline;
}
.htitle em {
float: right;
font-style: normal;
font-size: 12px;
color: #005eac;
margin-right: 10px;
display: inline;
}
.htitle em a {
margin-right: 0;
}
.htitle a {
float: right;
font-style: normal;
font-size: 12px;
color: #005eac;
margin-right: 15px;
display: inline;
}
.employBody {
background: #fff;
position: relative;
}
.pinfor {
color: #d4a639;
width: 682px;
margin: 0 auto;
border: 1px dashed #ffca88;
background: #fdffd2;
height: 35px;
line-height: 35px;
text-align: center;
}
.pinfor a:link, .pinfor a:active {
color: #d4a639;
}
.ulcontent {
padding-bottom: 45px;
}
.ulcontent {
width: 684px;
margin: 0 auto;
}
.ulcontent li {
border-bottom: 1px dashed #e5e4df;
padding: 15px 5px;
float: left;
}
.ulcontent li .imgphoto_1 {
float: left;
width: 51px;
}
.ulcontent li .imgphoto_1 img {
padding: 2px;
border: 1px solid #e8e4e1;
}
img[Attributes Style] {
height: 50px;
width: 45px;
}
.ulcontent li .text1 {
float: right;
width: 610px;
margin-left: 10px;
display: inline;
padding: 3px 0;
word-wrap: break-word;
}
.ptitle {
font-size: 14px;
position: relative;
}
.ptitle a {
color: #005eac;
}
.ptitle span {
color: #333333;
margin: 0 15px;
}
.ptitle {
font-size: 14px;
}
.ulcontent li .text1 .allPhotos {
margin: 10px 0;
}
.ulcontent li .text1 .allPhotos li {
float: left;
border: none;
margin: 0 5px 0 3px;
display: inline;
padding: 0;
}
.ulcontent li {
border-bottom: 1px dashed #e5e4df;
padding: 15px 5px;
float: left;
}
.ulcontent li .text1 .allPhotos li .roota {
background: #EEEEEE;
}
.ulcontent li .text1 .allPhotos li a {
float: left;
padding: 2px;
border: 1px solid #e8e4e1;
}
.sdivfor {
background: url(../images/sdivfor.gif) no-repeat top left;
margin: 0 0 10px 0;
height: 25px;
}
.sdivfor .scontent {
background: url(../images/scontent_1.gif) repeat-x top left;
height: 25px;
line-height: 25px;
display: block;
float: left;
color: #777777;
margin-left: 2px;
display: inline;
padding: 0 5px;
}
.sdivfor .scontent em {
font-style: normal;
color: #005eac;
}
.sdivfor .scontent {
line-height: 25px;
color: #777777;
}
.sdivfor .s_r {
background: url(../images/s_rbj.gif) repeat-x top left;
display: block;
height: 25px;
width: 2px;
float: left;
}
.dateTimes {
font-size: 12px;
color: #b3b2b2;
}
.dateTimes {
font-size: 12px;
color: #b3b2b2;
}
.send_messages {
width: 305px;
height: 175px;
line-height: 20px;
position: relative;
overflow: hidden;
margin-left: 50px;
}
.sendPersonal .send_arrow03 {
background: url(../images/jt.png) no-repeat scroll -16px 0;
left: 15px;
top: 152px;
z-index: 2;
}
.sendPersonal .send_arrow {
height: 7px;
overflow: hidden;
position: absolute;
width: 11px;
}
.sendPersonal .claddMark {
width: 300px;
height: 147px;
background: url(../images/mini.png) no-repeat top left;
}
.sendPersonal .style_shadow {
border: none;
border-radius: none;
box-shadow: none;
}
.sendPersonal .send_center {
background: none;
padding: 0;
}
.send_messages .send_center {
width: 296px;
height: 129px;
overflow: hidden;
background: #ffffff;
margin-top: 8px;
_margin-top: 8px;
padding-top: 15px;
}
.style_shadow {
-moz-box-shadow: 2px 2px 2px 2px #c0c0c0;
-webkit-box-shadow: 2px 2px 2px 2px #c0c0c0;
box-shadow: 2px 2px 2px 2px #c0c0c0;
border-radius: 3px 3px 3px 3px;
border: 1px solid #c8c8c8;
}
.sendPersonal .claddTop {
height: 72px;
width: 263px;
margin: 0 auto;
padding: 20px 0 0 5px;
}
.sendPersonal .claddTop .claddImg {
float: left;
}
.sendPersonal .claddTop .claddImg img {
padding: 2px;
border: 1px solid #dbdbdb;
float: left;
}
img[Attributes Style] {
height: 60px;
width: 86px;
}
.sendPersonal .claddTop .claddText {
float: left;
width: 160px;
word-wrap: break-word;
margin-left: 10px;
display: inline;
padding: 3px 0 0 0;
height: 75px;
overflow: hidden;
}
.sendPersonal {
line-height: normal;
}
.sendPersonal .claddTop .claddText a {
font-size: 14px;
font-weight: bold;
}
.blank_10px {
height: 10px;
line-height: 0;
font-size: 0;
clear: both;
}
.sendPersonal .claddTop .claddText p {
font-size: 12px;
color: #3f3f3f;
line-height: 1.3;
}
p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
.claddBottom {
width: 258px;
margin: 15px auto 0 auto;
height: 35px;
position: relative;
}
.claddBottom .a_1:link, .claddBottom .a_1:visited, .claddBottom .a_1:active, .claddBottom .a_2:link, .claddBottom .a_2:visited, .claddBottom .a_2:active, .claddBottom .a_3:link, .claddBottom .a_3:visited, .claddBottom .a_3:active {
color: #777777;
}
.claddBottom .a_1 {
background: url(../images/a_1.gif) no-repeat left center;
padding-left: 24px;
}
.claddBottom a {
display: block;
font-size: 12px;
color: #777777;
float: left;
margin: 10px 6px;
padding: 1px 0;
padding: 2px 0\9;
display: inline;
cursor: pointer;
}
.claddBottom .a_2 {
background: url(../images/a_2.gif) no-repeat left center;
padding-left: 24px;
}
.claddBottom .a_abtngz {
float: right;
background: url(../images/gzj.gif) no-repeat top left;
width: 55px;
height: 22px;
margin: 6px 0 0 0;
display: inline;
cursor: pointer;
}
.claddBottom .s_hovers {
position: absolute;
display: none;
}
.sHoverd {
background: url(../images/sdLeft.gif) no-repeat left top;
height: 22px;
position: relative;
}
.claddBottom .s_hovers .sdjz {
left: 22px;
}
.sHoverd .sdjz {
background: url(../images/sdjz.gif) no-repeat left top;
width: 6px;
height: 3px;
position: absolute;
display: block;
top: 22px;
left: 45px;
}
.sHoverd .sdcontent {
float: left;
background: #666666;
height: 22px;
color: #fff;
line-height: 22px;
text-align: center;
margin-left: 2px;
padding: 0 6px;
}
.sHoverd .sdright {
background: url(../images/sdRight.gif) no-repeat left top;
width: 3px;
height: 22px;
display: block;
float: left;
}
.contentRight {
float: right;
width: 250px;
position: relative;
}
.contentS_2 {
background: url(/images/serchText_1.gif) no-repeat top left;
width: 250px;
height: 122px;
}
.blank_25px {
height: 25px;
line-height: 0;
font-size: 0;
clear: both;
}
.searchinfor {
width: 228px;
margin: 0 auto;
height: 40px;
position: relative;
z-index: 1000;
}
input, textarea, keygen, select, button, isindex {
margin: 0em;
font: -webkit-small-control;
color: initial;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;
}
input, textarea, keygen, select, button, isindex, meter, progress {
-webkit-writing-mode: horizontal-tb;
}
.searchinfor .textput {
width: 172px;
height: 40px;
background: url(../images/textputs.gif) no-repeat top left;
float: left;
padding: 0 5px;
color: #bfbebe;
line-height: 40px;
}
.searchinfor .textbtn {
background: url(../images/icon.png) no-repeat -406px -605px;
width: 46px;
height: 40px;
float: left;
cursor: pointer;
overflow: hidden;
}
.newul {
display: none;
position: absolute;
width: 228px;
top: 39px;
left: 0;
border-top: 1px solid #d0d0d0;
background: url(../images/newulbj.png) no-repeat bottom left;
padding-bottom: 4px;
z-index: 1000;
}
.newul .first {
background: #fef3f1;
border-bottom: 1px solid #f8cbc2;
line-height: 33px;
padding: 0px 10px;
border-left: 1px solid #d0d0d0;
border-right: 1px solid #d0d0d0;
}
.newul .first span {
display: block;
background: url(../images/firsticon.gif) no-repeat left center;
font-size: 12px;
font-weight: bold;
color: #777777;
text-indent: 30px;
}
.newul li a:link, .newul li a:visited, .newul li a:active {
color: #777777;
}
.newul li a {
font-size: 12px;
color: #777777;
display: block;
padding: 0 10px 0 15px;
border-left: 1px solid #d0d0d0;
border-top: 1px solid #f5f5f5;
border-right: 1px solid #d0d0d0;
background: #fff;
height: 29px;
}
.newul li {
line-height: 29px;
}
.contentS_2 p {
font-size: 12px;
color: #777777;
line-height: 37px;
text-align: left;
padding-left: 75px;
padding-top: 4px;
}
#recommand_and_ad {
margin: 15px 0 15px 0;
}
.contentbodys, .contentbodyr {
border: 1px solid #e2dcd8;
background: #fff;
}
.htitle {
background: #f8f8f8;
border-top: 1px solid #ffffff;
border-bottom: 1px solid #e2dcd8;
font-family: '宋体';
height: 32px;
line-height: 32px;
}
.htitle span {
float: left;
font-size: 12px;
color: #555555;
font-weight: bold;
margin-left: 15px;
display: inline;
}
.listbtn {
width: 228px;
margin: 0 auto;
padding: 15px 0 15px 0;
position: relative;
margin-bottom: -5px;
z-index: 999;
}
.listbtn .root {
border-bottom: 2px solid #e95c45;
font-weight: bold;
}
.listbtn a {
font-size: 12px;
color: #777777;
margin: 0 5px;
padding: 0 2px 3px 2px;
display: block;
float: left;
display: inline;
}
.listbtn .lasta {
background: url(../images/btnj.gif) no-repeat right center;
display: block;
float: left;
color: #777777;
padding: 0 9px 3px 4px;
cursor: pointer;
margin: 0 5px;
display: inline;
}
.listbtn .submost1 {
position: absolute;
z-index: 999;
top: 31px;
right: -10px;
display: none;
border-top: 1px solid #d0d0d0;
background: #fff;
width: 105px;
text-align: left;
background: url(../images/nvbj.png) no-repeat bottom left;
padding-bottom: 3px;
border-left: 1px solid #d0d0d0;
border-right: 1px solid #d0d0d0;
}
.listbtn .submost1 span {
left: 60%;
}	
.submost1 span {
display: block;
background: url(../images/topj.gif) no-repeat top left;
width: 11px;
height: 5px;
position: absolute;
left: 57px;
top: -5px;
}
.submost1 ul {
margin-left: 0;
background: #f2f2f2;
overflow: hidden;
}
.listbtn .submost1 ul li {
padding: 0;
float: left;
width: 107px;
}
.submost1 ul li {
margin: 0;
background: #fff;
float: left;
width: 130px;
}
.listbtn .submost1 ul li a {
height: 29px;
float: left;
line-height: 29px;
width: 98px;
}
.submost1 ul li a:link, .submost1 ul li a:visited, .submost1 ul li a:active {
color: #555555;
}
.submost1 ul li a {
padding: 0;
margin: 0;
height: auto;
font-size: 12px;
color: #555555;
float: left;
font-family: '宋体';
line-height: 29px;
padding: 0 5px;
border-bottom: 1px dashed #ededed;
}
.listImg {
width: 234px;
margin: 0 auto 10px auto;
}
.listImg li {
float: left;
margin: 3px 3px 3px 4px;
display: inline;
}
.listImg li img {
padding: 2px;
border: 1px solid #e8e4e1;
}
.contentbodys, .contentbodyr {
border: 1px solid #e2dcd8;
background: #fff;
}
.ullist {
width: 230px;
margin: 0 auto;
}
.ullist li {
padding: 15px 0 5px 0;
border-bottom: 1px dashed #e5e4df;
float: left;
}
.ullist li .simgphoto {
float: left;
}
.ullist li .simgphoto img {
border: 1px solid #e8e4e1;
padding: 2px;
}
.ullist li .litexts {
float: left;
width: 165px;
margin-left: 10px;
display: inline;
padding: 3px 0 5px 0;
}
.ullist li .litexts .newText {
line-height: 1.5;
margin-top: -3px;
}
.ullist li .litexts p {
font-family: '宋体';
color: #777777;
padding: 8px 0 5px 0;
}
.ullist li .litexts .newText a:link, .ullist li .litexts .newText a:visited, .ullist li .litexts .newText a:active {
color: #555555;
}
.ullist li .litexts .newText {
line-height: 1.5;
}
.listUl {
width: 680px;
margin: 0 auto;
}
.listUl li {
border-bottom: 1px dashed #e5e4df;
padding: 25px 0 5px 0;
width: 680px;
float: left;
}
.listUl .imgPhoto {
float: left;
border: 1px solid #e8e4e1;
width: 51px;
height: 56px;
}
.listUl .imgPhoto img {
border: 1px solid #fff;
padding: 2px;
}
.listUl .dText {
float: left;
margin-left: 13px;
display: inline;
padding: 3px 0 5px 0;
width: 502px;
word-wrap: break-word;
}
.listUl .dText .atitle {
font-size: 14px;
font-weight: bold;
color: #005eac;
}
.listUl .dText .dInfor {
margin: 10px 0;
}
.listUl .dText .dInfor .sindustry {
width: 125px;
}
.ullist .noBorder, .listUl .noBorder {
border: none;
}
.contentScroll {
width: 250px;
word-wrap: break-word;
}
.contentScroll ul {
width: 250px;
position: relative;
z-index: 99;
}
.contentScroll ul li {
width: 248px;
border: 1px solid #e2dcd8;
position: absolute;
opacity: 0;
filter: "alpha(opacity=0)";
display: none;
}
.contentScroll .abtn11 {
display: block;
background: url(../images/abtn11.gif) no-repeat left top;
width: 250px;
height: 45px;
margin: 15px auto;
}
span.feed_back {
width: 50px;
height: 40px;
background: url(../images/dashboard_icon.png) no-repeat -93px -479px;
_background: url(../images/dashboard_icon.png) no-repeat -93px -479px;
bottom: 226px;
cursor: pointer;
left: 51%;
margin-left: 495px;
position: fixed;
_position: absolute;
text-align: center;
text-decoration: none;
z-index: 1000;
}
span.feed_back a {
float: left;
width: 50px;
height: 40px;
}
body #toTop.goTopBtn {
width: 50px;
height: 40px;
background: url(../images/dashboard_icon.png) no-repeat -13px -479px;
_background: url(../images/dashboard_icon.png) no-repeat -13px -479px;
bottom: 272px;
_bottom: 350px;
cursor: pointer;
display: none;
left: 51%;
line-height: 23px;
margin-left: 495px;
position: fixed;
_position: absolute;
text-align: center;
text-decoration: none;
z-index: 1000;
}
.send_messages {
width: 305px;
height: 175px;
line-height: 20px;
position: relative;
overflow: hidden;
margin-left: 50px;
}
.send_messages .send_arrow {
width: 10px;
height: 5px;
overflow: hidden;
position: absolute;
}
.send_arrow03 {
top: 153px;
left: 15px;
z-index: 2;
background: url("../images/arrow.png") no-repeat scroll -14px 0 transparent;
}
.send_messages {
line-height: 20px;
}
.send_messages .send_center {
width: 296px;
height: 129px;
overflow: hidden;
background: #ffffff;
margin-top: 8px;
_margin-top: 8px;
padding-top: 15px;
}
.style_shadow {
-moz-box-shadow: 2px 2px 2px 2px #c0c0c0;
-webkit-box-shadow: 2px 2px 2px 2px #c0c0c0;
box-shadow: 2px 2px 2px 2px #c0c0c0;
border-radius: 3px 3px 3px 3px;
border: 1px solid #c8c8c8;
}
.send_messages .send_center .content {
width: 296px;
height: 80px;
overflow: hidden;
}
.waiting_img {
height: 11px;
left: 150px;
position: absolute;
top: 60px;
width: 16px;
z-index: 100002;
}
.send_messages .send_center .send_button {
width: 296px;
height: 40px;
padding: 8px 0px 0 0px;
overflow: hidden;
background: #f5f5f5;
border-top: solid 1px #d0d0d0;
}
.pagination {
padding: 8px 3px 15px 3px;
margin: 3px 3px 3px 3px;
height: 20px;
text-align: center;
overflow: hidden;
font-family: Arial;
}
.pagination span.disabled {
padding: 2px 5px 2px 5px;
margin: 2px;
border: 1px solid #ccc;
color: #d1d1d1;
}
.pagination {
text-align: center;
font-family: Arial;
}
.pagination a {
padding: 2px 5px 2px 5px;
margin: 2px;
border: 1px solid #999;
text-decoration: none;
color: #666;
}
.ullist1 {
width: 229px;
margin: 0px auto;
padding: 10px 0;
}
.ullist1 li {
float: left;
width: 229px;
border-bottom: 1px dashed #e7e4e0;
height: 30px;
line-height: 30px;
}
.ullist1 li a {
float: left;
margin-left: 5px;
display: inline;
font-weight: bold;
}
.ullist1 li span {
float: right;
margin: 8px 5px 0 0;
display: inline;
}
.lx0 {
background: url(../images/lx0.gif) no-repeat left top;
width: 12px;
height: 12px;
}
.ullist1 li {
line-height: 30px;
}
.lx1 {
background: url(../images/lx1.gif) no-repeat left top;
width: 12px;
height: 12px;
}
.lx2 {
background: url(../images/lx2.gif) no-repeat left top;
width: 12px;
height: 12px;
}
.lx3 {
background: url(../images/lx3.gif) no-repeat left top;
width: 12px;
height: 12px;
}
span.feed_back {
width: 50px;
height: 40px;
background: url(/images/home_new/dashboard_icon.png) no-repeat -93px -479px;
_background: url(/images/home_new/dashboard_icon.png) no-repeat -93px -479px;
bottom: 226px;
cursor: pointer;
left: 51%;
margin-left: 495px;
position: fixed;
_position: absolute;
text-align: center;
text-decoration: none;
z-index: 1000;
}
span.feed_back a {
float: left;
width: 50px;
height: 40px;
}
body #toTop.goTopBtn {
width: 50px;
height: 40px;
background: url(/images/home_new/dashboard_icon.png) no-repeat -13px -479px;
_background: url(/images/home_new/dashboard_icon.png) no-repeat -13px -479px;
bottom: 272px;
_bottom: 350px;
cursor: pointer;
display: none;
left: 51%;
line-height: 23px;
margin-left: 495px;
position: fixed;
_position: absolute;
text-align: center;
text-decoration: none;
z-index: 1000;
}
.gzbj {
background: url(../images/gzbj.gif) no-repeat top left;
width: 432px;
height: 39px;
padding: 20px 10px 20px 273px;
_margin-bottom: -5px;
}
.gzbj p {
font-size: 15px;
color: #333333;
font-weight: bold;
}
.gzbj p span {
display: block;
font-size: 12px;
font-weight: normal;
color: #777777;
margin-top: 5px;
}
.contentbodys, .contentbodyr {
border: 1px solid #e2dcd8;
background: #fff;
}
.ulistbox {
width: 657px;
margin: 0 auto;
padding: 20px 0 15px 0;
}
.ulistbox li {
float: left;
margin: 8px 15px 0px 15px;
width: 189px;
height: 68px;
overflow: hidden;
display: inline;
}
.ulistbox li label {
float: left;
margin: 20px 10px 0 0;
display: inline;
}
.ulistbox li span {
float: left;
}
.ulistbox li span img {
border: 1px solid #e8e4e1;
}
.ulistbox li p {
float: left;
color: #555555;
font-size: 12px;
width: 96px;
word-wrap: break-word;
padding: 5px 0;
line-height: 1.7;
margin-left: 10px;
display: inline;
text-align: left;
font-family: '宋体';
}
.ulistbox li p a {
color: #555555;
font-size: 12px;
}
.blank_10px {
height: 10px;
line-height: 0;
font-size: 0;
clear: both;
}
.mba_channel_nav li .root span {
border-bottom: 2px solid #d20000;
}

.mba_channel_nav li a span {
padding: 0 30px;
font-family: '微软雅黑';
font-size: 14px;
display: block;
float: left;
}
.mba_channel_nav li .root {
background: url(../images/rootjt.gif) no-repeat center bottom;
}
.companyHead {
background: url(../images//companyHead.png) no-repeat top left;
height: 112px;
width: 980px;
margin: 40px auto 0 auto;
position: relative;
z-index: 999;
}

.companyHead .companyNameLogo {
position: relative;
background: url(../images/companyNameLogo.png) no-repeat top left;
width: 145px;
height: 101px;
padding: 9px 9px;
position: absolute;
top: -19px;
left: 10px;
}
.companyHead .companyTitle {
margin-left: 183px;
height: 74px;
}
companyHead .companyTitle .divCompanyTitlte {
padding: 25px 0 0 0;
_padding: 20px 0 0 0;
height: 53px;
}
.companyHead .companyTitle .divCompanyTitlte h1 {
font-size: 24px;
font-family: '黑体 宋体';
color: #333;
float: left;
width: 500px;
word-wrap: break-word;
}
.companyHead .companyTitle .divCompanyTitlte .divCompanyInfor {
float: right;
margin-right: 30px;
display: inline;
}
.companyHead .companyTitle .divCompanyTitlte .divCompanyInfor span {
font-size: 14px;
color: #555555;
font-family: '宋体';
float: left;
line-height: 30px;
}
.companyHead .companyTitle .divCompanyTitlte .divCompanyInfor span em {
font-style: normal;
color: #eb5f48;
font-weight: bold;
}
.companyHead .tool-handle-summary {
display: inline-block;
margin: 0 0 0 0px;
position: relative;
z-index: 9;
float: left;
}
.companyHead .l-tool-summary {
position: absolute;
z-index: 999;
top: 35px;
left: -75px;
background: url(../images/toll_Bg_06.png) 0 0;
border: 1px solid #cfd1d0;
font-size: 12px;
color: #3c3e3d;
margin-left: 0;
}
.companyHead .li-tool-summary {
width: 99px;
height: 22px;
padding: 2px 0 0 9px;
border-bottom: 1px dashed #ededed;
line-height: 22px;
background: none;
}
.companyHead .li-tool-summary a {
font-size: 12px;
color: #3c3e3d;
height: auto;
cursor: pointer;
display: block;
}
.companyHead .bdr_none {
border: none;
}
.companyHead ul li .root {
background: url(../images/rootjt.gif) no-repeat center bottom;
}
.companyHead ul {
margin-left: 183px;
font-size: 14px;
font-family: '宋体';
color: #777777;
}
.companyHead ul li {
float: left;
background: url(../images/bor.gif) no-repeat right center;
display: block;
}
.companyHead ul li .root span {
border-bottom: 2px solid #d20000;
}
.companyHead ul .noBorder {
background: none;
}
.companyHead ul .most {
width: auto;
height: auto;
position: relative;
display: none;
}
.companyHead .submost1 {
position: absolute;
top: 35px;
left: -18px;
display: none;
border-top: 1px solid #d0d0d0;
background: #f2f2f2;
width: 128px;
border-left: 1px solid #d0d0d0;
border-right: 1px solid #d0d0d0;
text-align: center;
background: url(../images/nvbj.png) no-repeat bottom left;
padding-bottom: 3px;
z-index: 99;
}
.submost1 span {
display: block;
background: url(../images/topj.gif) no-repeat top left;
width: 11px;
height: 5px;
position: absolute;
left: 57px;
top: -5px;
}
.clear {
clear: both;
height: 0;
line-height: 0;
font-size: 0;
padding: 0;
margin: 0;
overflow: hidden;
}
.companyHead ul li {
float: left;
background: url(../images/bor.gif) no-repeat right center;
display: block;
}
.companyHead ul li a span {
padding: 0 30px;
display: block;
float: left;
line-height: 36px;
}
.companyHead .companyTitle .divCompanyTitlte .divCompanyInfor {
float: right;
margin-right: 30px;
display: inline;
}
.companyHead .companyTitle .divCompanyTitlte .divCompanyInfor span {
font-size: 14px;
color: #555555;
font-family: '宋体';
float: left;
line-height: 30px;
}
.companyHead .companyTitle .divCompanyTitlte .divCompanyInfor .abtngz {
background: url(../images/icon.png) no-repeat -41px -431px;
width: 75px;
height: 30px;
cursor: pointer;
display: block;
float: left;
margin: 0 10px;
display: inline;
}
.companyHead .tool-handle-summary {
display: inline-block;
margin: 0 0 0 0px;
position: relative;
z-index: 9;
float: left;
}
.companyHead .companyTitle .divCompanyTitlte {
padding: 25px 0 0 0;
_padding: 20px 0 0 0;
height: 53px;
}
.addbtn-eymk-company {
display: block;
position: absolute;
z-index: 2;
top: 32px;
right: 2px;
width: 29px;
height: 20px;
padding: 0 0 0 18px;
background: #fff url(../images/addIcon_03.png) no-repeat 6px 6px;
border: 1px solid #d6d6d6;
line-height: 20px;
font-size: 12px;
color: #838a96;
cursor: pointer;
border-radius: 3px;
-moz-border-radius: 3px;
}
.li-eymk-company {
height: 56px;
padding: 10px 0;
border-bottom: 1px dashed #e7e4e0;
position: relative;
}
.poster-eymk-company {
display: block;
width: 45px;
height: 50px;
float: left;
padding: 2px;
background: #fff;
border: 1px solid #e8e4e1;
}
.name-eymk-company {
height: 22px;
margin: 0 0 0 62px;
line-height: 22px;
font-size: 12px;
font-weight: bold;
color: #005eac;
}
.name-eymk-company a {
display: inline-block;
float: left;
color: #005eac;
}
.icon-eymk-company {
display: inline-block;
float: left;
width: 23px;
height: 19px;
margin: 2px 0 0 5px;
}
.htitle1 {
border-top: 1px solid #fff;
background: #f8f7f5;
height: 33px;
font-family: '宋体';
line-height: 33px;
border-bottom: 1px solid #e2dcd8;
}
.htitle1 span {
font-size: 12px;
color: #555555;
font-weight: bold;
float: left;
margin-left: 15px;
display: inline;
}
.htitle1 .amost:link {
color: #777777;
}
.employBody {
background: #fff;
position: relative;
}
.dateimg {
width: 214px;
height: 214px;
margin: 0 auto;
padding: 0px 0 15px 0;
position: relative;
}
.drawInfor {
border-top: 1px solid #ededed;
margin-top: -20px;
background: url(../images/dateinforbj.gif) repeat-x left top;
height: 45px;
padding: 10px 15px 10px 15px;
width: 218px;
overflow: hidden;
}
.drawInfor .s_1 {
background: url(../images/s_1.gif) no-repeat left center;
display: block;
text-indent: 15px;
float: left;
color: #545454;
margin: 4px 3px;
display: inline;
width: 103px;
}
.drawInfor .s_2 {
background: url(../images/s_3.gif) no-repeat left center;
display: block;
text-indent: 15px;
float: left;
color: #545454;
margin: 4px 3px;
display: inline;
width: 103px;
}
.drawInfor .s_3 {
background: url(../images/s_2.gif) no-repeat left center;
display: block;
text-indent: 15px;
float: left;
color: #545454;
margin: 4px 3px;
display: inline;
width: 103px;
}
.drawInfor .s_4 {
background: url(../images/s_4.gif) no-repeat left center;
display: block;
text-indent: 15px;
float: left;
color: #545454;
margin: 4px 3px;
display: inline;
width: 103px;
}
.mod-company {
margin: 15px 0 0 0;
background: #fff;
border: 1px solid #e2dcd8;
}
.hd-mod-company {
height: 32px;
position: relative;
background: #f8f7f5;
border-top: 1px solid #fff;
border-bottom: 1px solid #e2dcd8;
line-height: 32px;
}
.title-hd-company {
padding: 0 0 0 11px;
font-weight: bold;
font-size: 12px;
color: #555;
}
.sub-hd-company:link {
color: #777;
}
.bd-mod-company {
padding: 0 10px 6px 10px;
_width: 228px;
_overflow: hidden;
position: relative;
}
.li-job-show {
position: relative;
z-index: 2;
top: 0;
left: -10px;
width: 234px;
padding: 0 0 0 14px;
background: #f7f7f7;
}
.li-job-company {
padding: 4px 5px 5px 5px;
border-bottom: 1px dashed #e7e4e0;
}
.li-job-show {
position: relative;
z-index: 2;
top: 0;
left: -10px;
width: 234px;
padding: 0 0 0 14px;
background: #f7f7f7;
}
.li-job-show .position-job-company {
padding: 0 0 0 4px;
}
.li-job-show .position-job-company {
padding: 0 0 0 4px;
}
.position-job-company {
height: 30px;
line-height: 30px;
font-weight: bold;
font-size: 12px;
color: #777;
}
.detail-job-company {
height: 60px;
}
.detail-job-company {
clear: left;
position: relative;
}
.content-company {
width: 980px;
margin: 0 auto 18px;
}
.main-company {
width: 715px;
float: left;
}
.ad_pig {
margin: 15px 0 15px 0;
}
.detail-main-company {
height: 98px;
margin: 15px 0 0 0;
background: url(../images/detail_company_21.png);
border: 1px solid #e2dcd8;
}
.pro-detail-company {
width: 303px;
padding: 5px 0 0 25px;
float: left;
}
.cell-pro-detail {
display: block;
padding: 0 10px 0 0;
float: left;
overflow: hidden;
line-height: 23px;
font-size: 12px;
color: #555;
margin-right:10px;
}
.more-intro-detail {
display: inline-block;
height: 23px;
padding: 0 16px 0 0;
background: url(../images/arrowIcon_27.png) no-repeat 28px 8px;
float: right;
line-height: 23px;
text-align: right;
color: #005eac;
cursor: pointer;
}
.ulnewContent {
width: 667px;
margin: 0 auto;
}
.ulnewContent li {
background: url(../images/dianc.gif) no-repeat left 25px;
}
.ulcontent li {
/*list-style-image:url(../images/feed_7e1e551de98053dffaa5d13c9cdd3e22.jpg);*/
border-bottom: 1px dashed #e5e4df;
padding: 15px 5px;
float: left;
}
.ulnewContent li .text1 {
margin: 0;
width: 647px;
margin-left: 10px;
}
.ulcontent li .text1 {
float: right;
width: 610px;
margin-left: 10px;
display: inline;
padding: 3px 0;
word-wrap: break-word;
}
.p_3 {
font-size: 12px;
color: #777777;
margin: 10px 0 7px 0;
}
.dateTimes {
font-size: 12px;
color: #b3b2b2;
}
.sidebar-company {
width: 250px;
margin: 0 0 0 15px;
float: left;
}
.guide_box {
width: 248px;
border: 1px solid #e2dcd8;
display: none;
}
.guide_box .guide_head {
height: 159px;
width: 248px;
position: relative;
background: url(../images/guideHead_bg.gif) #fff 0 79px no-repeat;
font-size: 14px;
color: #fff;
z-index: 5;
}
.guide_box .guide_head .left {
display: inline;
float: left;
margin-left: 15px;
margin-top: 20px;
}
.guide_box .guide_head .left .img {
border: 1px solid #e0e0e0;
padding: 3px;
background: #fff;
width: 90px;
height: 100px;
}
.guide_box img {
display: block;
border: none;
}
.guide_box .guide_head .right {
float: left;
display: inline;
margin-left: 30px;
width: 90px;
margin-top: 15px;
color: #666;
}
.guide_box .guide_head .right .logo {
padding-top: 8px;
margin-left: 5px;
}
.guide_box .guide_head .right .from {
padding-top: 13px;
font-size: 14px;
font-weight: bold;
font-family: "微软雅黑";
}
.guide_box .guide_head .right .name {
padding-top: 6px;
font-size: 12px;
}
.guideIco {
position: absolute;
display: inline-block;
width: 22px;
height: 13px;
top: 159px;
left: 40px;
background: url(../images/guideIco.gif) 0 0 no-repeat;
}
.guide_box .guide_con_W {
background: #fff;
}
.guide_box .guide_content {
padding-top: 24px;
padding-bottom: 20px;
background: url(../images/tiptip.gif) #fff 160px 40px no-repeat;
font-size: 12px;
display: none;
position: relative;
float: left;
width: 248px;
z-index: 10002;
}
.guide_box .clear_fix {
zoom: 1;
}
.guide_box .guide_content .left {
float: left;
color: #999;
margin-left: 15px;
display: inline;
width: 51px;
}
.guide_box .guide_content .left .gu_box {
text-align: center;
}
.guide_box .guide_content .left .gu_box .photo {
border: 1px solid #d4d4d4;
background: #fff;
padding: 2px;
}
.guide_box .guide_content .left img {
display: block;
}
.guide_box .guide_content .right {
float: left;
margin-left: 9px;
display: inline;
}
.guide_box .guide_content .right .rBox {
background: url(../images/guideLine.gif) 0 0 no-repeat;
padding-left: 13px;
color: #666;
}
.guide_box .guide_content .tipBox {
font-size: 14px;
color: #666;
margin-left: 15px;
padding-top: 4px;
line-height: 150%;
padding-right: 15px;
}
.guide_box .guide_content .btnDiv {
margin-top: 4px;
margin-left: 14px;
}
.guide_box .gay_ {
display: inline-block;
width: 47px;
height: 20px;
line-height: 20px;
background: url(../images/guideBtn.gif) 0 0 no-repeat;
text-align: center;
cursor: pointer;
color: #999;
text-shadow: #fff 0 1px 0;
}
.hdline-eymk-company {
height: 22px;
margin: 0 0 0 62px;
line-height: 22px;
font-size: 12px;
color: #777;
}
.l-distance-company {
margin: 4px 0 14px 0;
height: 52px;
}
.li-distance-company {
width: 76px;
height: 52px;
float: left;
}
.count-distance-company {
display: block;
height: 28px;
line-height: 28px;
text-align: center;
font-family: "Arial";
font-size: 22px;
color: #3c3c3c;
}
.tip-distance-company {
display: block;
height: 24px;
line-height: 22px;
text-align: center;
color: #777;
}
.ft-mod-company {
height: 33px;
background: #f8f7f5;
border-top: 1px solid #e2dcd8;
line-height: 33px;
}
.tip-ft-company:link {
color: #777;
}
.tip-ft-company {
height: 33px;
float: right;
padding: 0 10px 0 0;
text-align: right;
}
.htitle1 .amost {
float: right;
font-size: 12px;
color: #777777;
margin-right: 10px;
display: inline;
}
.sub-hd-company {
position: absolute;
z-index: 2;
top: 0;
right: 10px;
}
.li-job-company .tip-position-company, .box-poster-job, .poster-job-show, .time-job-show, .time-job-company, .li-job-company img, .li-job-company .a_href, .li-job-company .box-poster-job {
display: none;
}
.a_href {
position: absolute;
display: block;
background: #000;
width: 45px;
height: 50px;
z-index: 5;
left: 0;
top: -2px;
line-height: 50px;
text-align: center;
overflow: hidden;
opacity: 0;
filter: alpha(opacity=0);
}
.poster-job-company {
width: 45px;
height: 50px;
position: absolute;
z-index: 2;
top: 0;
left: 2px;
}
.hdline-job-company {
/* height: 22px; */
line-height: 22px;
font-size: 12px;
color: #777;
}
.time-job-company {
height: 21px;
margin: 2px 0 0 52px;
line-height: 21px;
color: #b3b2b2;
}
.l-fans-company {
padding: 0 0 4px 0;
}
.li-fans-company {
width: 51px;
height: 78px;
float: left;
margin: 11px 3px 0 2px;
_margin: 11px 3px 0 2px;
}
.poster-fans-company {
display: block;
width: 45px;
height: 50px;
padding: 2px;
background: #fff;
border: 1px solid #e8e4e1;
}
.name-fans-company {
display: block;
line-height: 22px;
text-align: center;
color: #005eac;
}
.name-fans-company a {
color: #005eac;
}
.l-visited-company {
padding: 0 0 10px 0;
}
.li-visited-company {
width: 51px;
height: 56px;
margin: 10px 3px 0 2px;
float: left;
}
.poster-visited-company {
display: block;
width: 45px;
height: 50px;
padding: 2px;
background: #fff;
border: 1px solid #e8e4e1;
overflow: hidden;
}
.sendPersonal .claddMark {
width: 300px;
height: 147px;
background: url(../images/mini.png) no-repeat top left;
}
.sendPersonal .style_shadow {
border: none;
border-radius: none;
box-shadow: none;
}
.sendPersonal .send_center {
background: none;
padding: 0;
}
.send_messages .send_center {
width: 296px;
height: 129px;
overflow: hidden;
background: #ffffff;
margin-top: 8px;
_margin-top: 8px;
padding-top: 15px;
}
.claddBottom .a_1:link, .claddBottom .a_1:visited, .claddBottom .a_1:active, .claddBottom .a_2:link, .claddBottom .a_2:visited, .claddBottom .a_2:active, .claddBottom .a_3:link, .claddBottom .a_3:visited, .claddBottom .a_3:active {
color: #777777;
}
.claddBottom .a_1 {
background: url(../images/a_1.gif) no-repeat left center;
padding-left: 24px;
}
.claddBottom .a_2 {
background: url(../images/a_2.gif) no-repeat left center;
padding-left: 24px;
}
.claddBottom .a_3 {
background: url(../images/a_3.gif) no-repeat left center;
padding-left: 24px;
}
.claddBottom .a_abtngz {
float: right;
background: url(../images/gzj.gif) no-repeat top left;
width: 55px;
height: 22px;
margin: 6px 0 0 0;
display: inline;
cursor: pointer;
}
.s_hovers {
position: absolute;
z-index: 6;
top: -29px;
left: 0;
}
.sHoverd {
background: url(../images/sdLeft.gif) no-repeat left top;
height: 22px;
position: relative;
}
.sHoverd .sdjz {
background: url(../images/sdjz.gif) no-repeat left top;
width: 6px;
height: 3px;
position: absolute;
display: block;
top: 22px;
left: 45px;
}
.s_hovers span {
height: 0;
line-height: 0;
border-color: #6e6e6e;
position: absolute;
top: 23px;
left: 33px;
display: block;
border-style: solid;
border-width: 5px;
border-left-color: transparent;
border-right-color: transparent;
border-bottom-color: transparent;
_border-bottom: none;
_border-left-color: tomato;
_border-right-color: tomato;
_filter: chroma(color=tomato);
}
.sendPersonal .claddMark {
width: 300px;
height: 147px;
background: url(../images/mini.png) no-repeat top left;
}
.claim-company {
height: 56px;
margin: 15px 0 0 0;
padding: 15px 10px;
border: 1px solid #e2dcd8;
background: #fff;
}
.btn-clain-company {
width: 160px;
height: 54px;
float: left;
margin: 0 0 0 14px;
background: url(../images/claim_bg_13.png);
border: 1px solid #d9d9d9;
line-height: 54px;
text-align: center;
font-weight: bold;
font-size: 16px;
color: #005EAC;
cursor: pointer;
overflow: hidden;
}
.poster-claim-company {
display: block;
width: 45px;
height: 50px;
float: left;
padding: 2px;
background: #fff;
border: 1px solid #e8e4e1;
}
.contentScroll .abtn11 {
display: block;
background: url(../images/abtn11.gif) no-repeat left top;
width: 250px;
height: 45px;
margin: 15px auto;
}
.contentScroll ul li .shrinkInfor {
background: url(../images/shrinkInfor.gif) no-repeat top left;
width: 228px;
height: 54px;
padding: 18px 10px 15px 10px;
_width: 232px;
_padding: 18px 6px 15px 10px;
overflow: hidden;
}
.shrinkInfor .simgphoto {
float: left;
}
.shrinkInfor .simgphoto img {
border: 1px solid #e8e4e1;
padding: 2px;
}
.shrinkInfor .litexts {
float: left;
width: 165px;
margin-left: 10px;
display: inline;
padding: 3px 0 5px 0;
}
.shrinkInfor .litexts .atitle {
font-size: 12px;
color: #005eac;
font-weight: bold;
}
.shrinkInfor .litexts p {
font-family: '宋体';
color: #777777;
padding: 10px 0 5px 0;
float: left;
}
.shrinkInfor .litexts .eNum {
font-weight: bold;
color: #777777;
}
.shrinkInfor .litexts p em {
font-style: normal;
color: #005eac;
}
.contentS_2 {
background: url(../images/serchText_1.gif) no-repeat top left;
width: 250px;
height: 122px;
}
#container_index {
width: 1000px;
margin: 15px auto 25px;
min-height: 700px;
}
.new_home_center {
position: relative;
width: 700px;
float: left;
margin-top: 5px;
min-height:700px;
_height: 700px;
display: inline;
}
.ad{
	position: relative;
width: 700px;
float: left;
background-image:url(../images/753778-s.jpg);
min-height:100px;
}
.user_pl{
	width:700px;
	float:left;
	margin-top:10px;
	margin-bottom:20px;
	min-height:50px;
}
.new_home_right {
width: 280px;
float: right;
margin-top: 5px;
min-height:700px;
}
.user_ip{
	height:140px;
	width:700px;
	background-color:#59c4bc;
	
}
.user_ip textarea{
	margin-top:10px;
	
}
.user_fb{
	float:left;
	width:700px;
	height:45px;
}
.user_fb_1{
	position:relative;
	float:left;
	margin-left:10px;
	width:70px;
	height:30px;
	display:inline;
}
#img img{
	float:left;
	width:20px;
	height:20px;
}

.user_fb_1 span{
	font-size:12px;
	position:absolute;
	top:9px;
	right:0px;
}
/*css3 按钮样式*/
#container_buttons{
	/*width:70px;*/
	background: rgba(255,255,255,0.3);
	padding:6px 1px 1px;
	border-radius: 20px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.09) inset;
	float:right;
	margin-right:30px;
}
#container_buttons p{
	display:block;
	
}
#container_buttons p a{
text-decoration:none;
}
.a_demo_one {
	background-color:#3bb3e0;
	padding:10px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	border: solid 1px #186f8f;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.a_demo_one::before {
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	left:-8px;
	top:-8px;
	z-index:-1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	-o-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
}
/**/
.a_demo_one:active {
	padding-bottom:9px;
	padding-left:10px;
	padding-right:10px;
	padding-top:11px;
	top:1px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
}

/*css3 按钮样式 end*/
.pl_list,.pl_list_1,.pl_list_2{
	margin-top:10px;
	width:700px;
	float:left;
	background-color:#FFF;
}
.pl_list_1_left,.pl_list_2_left{
	height:35px;
	width:35px;
	float:left;
}
.pl_list_1_left img,.pl_list_2_left img{
		height:35px;
	width:35px;
}
.pl_list_1_right{
	float:right;
	width:665px;
	
}
.pl_list_1_right p,.pl_list_2_right p{
	text-indent:5px;
}
.pl_list_1_right h3,.pl_list_2_right h3{
	text-indent:8px;
	font-size:18px;
}
.pl_list_1_right img{
	float:left;
	height:120px;
	width:100px;
}
.pl_list_1_bottom{
	float:left;
	margin-left:20px;
	display:inline;
	height:32px;
	width:640px;
}
.time{
	float:left;
	font-size:14px;
	color:#999;
	line-height:40px;
}
.zan{
	height:30px;
	float:right;
	width:400px;
	background-color:#0CF;
}
#img span{
	float:left;
}
.zf_pl{
	width:500px;
	float:right;
	margin-right:10px;
	display:inline;
	padding-top:5px;
	border:#CCC solid 1px;
}
.listUl .dText .dInfor .sindustry {
width: 125px;
}
.listUl .dText .dInfor span {
font-size: 12px;
color: #555555;
background: url(../images/borders.gif) no-repeat right center;
display: block;
float: left;
padding: 0 15px 0 0;
}
.listUl .dText .dInfor span em {
font-style: normal;
font-size: 12px;
color: #555555;
}
.listUl .dText .dInfor .sNoborder {
background: none;
}
.listUl .dIcon {
font-size: 12px;
color: #777777;
font-weight: bold;
margin: 10px 0;
}
.listUl .dIcon .fist_s {
background: url(../images/icon1.gif) no-repeat left center;
text-indent: 18px;
}
.listUl .dIcon span {
display: block;
float: left;
margin-right: 20px;
display: inline;
}
.listUl .dIcon em {
font-style: normal;
font-size: 12px;
color: #777777;
font-weight: normal;
}
.listUl .dIcon .two_s {
background: url(../images/icon2.gif) no-repeat left center;
text-indent: 24px;
}
.listUl .dIcon .three_s {
background: url(../images/icon3.gif) no-repeat left center;
text-indent: 24px;
}
.ad_1{
	width:250px;
	min-height:50px;
}

.mt20 {
margin-top: 20px;
}
.right_panel {
background-color: #ffffff;
border: 1px solid #D8D8D8;
float: left;
width: 248px;
}
.chekcout_ones {
width: 18px;
float: right;
margin-top: 16px;
display: inline;
height: 18px;
background: url(../images/new_icon_02.png) no-repeat;
margin-right: 20px;
background-position: -11px -314px;
}
.right_panel .content {
margin-top: 20px;
float: left;
width: 248px;
display: inline;
}
dl.right_user_list {
width: 240px;
height: 60px;
overflow: hidden;
margin-bottom: 8px;
position: relative;
padding-left:4px;
padding-bottom: 8px;
}
dl.right_user_list dd.logo {
width: 45px;
height: 50px;
float: left;
border-radius: 2px;
margin-right: 11px;
}
dl.right_user_list dd.logo a {
width: 45px;
height: 50px;
float: left;
}
dl.right_user_list dd.logo a img {
float: left;
width: 100%;
height: 100%;
border-radius: 2px;
}
dl.right_user_list dd.name {
width: 182px;
height: 20px;
float: left;
overflow: hidden;
font-size: 12px;
color: #454545;
font-weight: bold;
margin-top: 4px;
}
dl.right_user_list dd.name a {
color: #454545;
}
dl.right_user_list dd.name a {
color: #454545;
}
dl.right_user_list dd.promit_title {
width: 105px;
height: 20px;
float: left;
overflow: hidden;
font-size: 12px;
color: #BBBBBB;
line-height: 20px;
}
dl.right_user_list dd.add_button {
width: 72px;
position: absolute;
right: -24px;
top: 21px;
font-size: 12px;
padding-left: 13px;
color: #2A7FB8;
background: url(../images/jia.jpg) no-repeat left;
}
dl.right_user_list dd.add_button {
font-size: 12px;
color: #2A7FB8;
}
.right_panel h4 .new_title {
float: left;
padding: 0px 3px;
line-height: 43px;
border-bottom: 2px solid #EC7064;
font-family: '微软雅黑';
}
.right_panel h4 {
position: relative;
height: 44px;
padding-left: 20px;
background: #F5F5F5;
font-size: 15px;
color: #454545;
border-bottom: 1px solid #D8D8D8;
font-weight: normal;
}
.right_panel h4 {
font-size: 15px;
color: #454545;
font-weight: normal;
}
.right_panel .more_btns {
width: 228px;
height: 36px;
text-align: right;
line-height: 36px;
float: right;
background: #F5F5F5;
border-top: 1px solid #D8D8D8;
padding-right: 20px;
}
.right_panel .more_btns a {
color: #666666;
}



/**加的csss***/

.imgdis {
margin: 10px 0 0 0;
}

.div_3 {
margin: 5px 0;
}

.div_3 .dateTimes {
float: left;
font-size: 12px;
color: #b3b2b2;
}

.div_3 .azf {
float: right;
background: url(../images/azf.gif) no-repeat top left;
color: #005eac;
padding-left: 18px;
margin-right: 10px;
display: inline;
}

.htitle .aicons {
background: url(../images/aicons.gif) no-repeat left center;
color: #777777;
text-indent: 20px;
}

.ullist li .litexts .atitle {
font-size: 12px;
color: #005eac;
font-weight: bold;
}



.ullist li .litexts .aicon {
background: url(../images/icon.png) no-repeat -332px -499px;
display: block;
width: 50px;
height: 22px;
}
.ullist li .litexts .aicon:hover {
background: url(../images/icon.png) no-repeat -385px -499px;
}


/********search******/


@charset "utf-8";
/* CSS Document */
.searchPut {
width: 713px;
border: 1px solid #d7d7d7;
height: 43px;
background:url(../images/searchPutbj.gif) no-repeat top left;
padding: 25px 0px 20px 0;
}
input[type="hidden"], input[type="image"], input[type="file"] {
-webkit-appearance: initial;
padding: initial;
background-color: initial;
border: initial;
}
.searchPut .searchTexts {
background:url(../images/searchTexts.gif) no-repeat top left;
width: 547px;
height: 40px;
font-size: 14px;
color: #cccccc;
float: left;
margin-left: 25px;
display: inline;
padding-left: 10px;
line-height: 40px;
}
.searchPut .searchBtn {
background: url(http://static.tianji.com/images/new_companies/homepageImg/icon.png) no-repeat 0 -499px;
width: 100px;
height: 40px;
float: left;
margin-left: 10px;
display: inline;
}
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.contentbodys, .contentbodyr {
border: 1px solid #e2dcd8;
background: #fff;
}
.listUl .imgPhoto {
float: left;
border: 1px solid #e8e4e1;
width: 51px;
height: 56px;
}
.listUl .imgPhoto img {
border: 1px solid #fff;
padding: 2px;
}
.listUl .dText {
float: left;
margin-left: 13px;
display: inline;
padding: 3px 0 5px 0;
width: 502px;
word-wrap: break-word;
}
.listUl .dText .atitle {
font-size: 14px;
font-weight: bold;
color: #005eac;
}
.listUl .dText .dInfor {
margin: 10px 0;
}
.listUl .dText .dInfor .sindustry {
width: 125px;
}
.listUl .dText .dInfor span {
font-size: 12px;
color: #555555;
background: url(../images/borders.gif) no-repeat right center;
display: block;
float: left;
padding: 0 15px 0 0;
}
.listUl .dText .dInfor span em {
font-style: normal;
font-size: 12px;
color: #555555;
}
.listUl .dText .dInfor .snature {
width: 135px;
}
.listUl .dText .dInfor .sNoborder {
background: none;
}
.listUl .dIcon {
font-size: 12px;
color: #777777;
font-weight: bold;
margin: 10px 0;
}
.listUl .dIcon .fist_s {
background: url(../images/icon1.gif) no-repeat left center;
text-indent: 18px;
}
.listUl .dIcon span {
display: block;
float: left;
margin-right: 20px;
display: inline;
}
.listUl .dIcon em {
font-style: normal;
font-size: 12px;
color: #777777;
font-weight: normal;
}
.listUl .dIcon .two_s {
background: url(../images/icon2.gif) no-repeat left center;
text-indent: 24px;
}
.listUl .btnInfor {
float: right;
width: 100px;
text-align: center;
padding-top: 12px;
}
.btnmargin {
margin-left: 21px;
_margin-left: 1px;
display: inline;
}
.btnicon {
background: url(../images/icon.png) no-repeat -208px -499px;
display: block;
width: 58px;
height: 23px;
}
.btnicon:hover {
background: url(../images/icon.png) no-repeat -270px -499px;
}

.listUl .btnInfor {
text-align: center;
}
.listUl .btnInfor span {
font-size: 12px;
color: #999;
display: block;
margin-top: 10px;
}
.listUl .btnInfor span em {
font-style: normal;
font-size: 12px;
font-weight: bold;
}
.listUl li {
border-bottom: 1px dashed #e5e4df;
padding: 25px 0 5px 0;
width: 680px;
float: left;
}
.listUl .dText {
float: left;
margin-left: 13px;
display: inline;
padding: 3px 0 5px 0;
width: 502px;
word-wrap: break-word;
}
.listUl .dText .atitle {
font-size: 14px;
font-weight: bold;
color: #005eac;
}
.listUl .dText .dInfor {
margin: 10px 0;
}
.listUl .dText .dInfor .sindustry {
width: 125px;
}
.listUl .dText .dInfor span {
font-size: 12px;
color: #555555;
background: url(/images/new_companies/homepageImg/borders.gif) no-repeat right center;
display: block;
float: left;
padding: 0 15px 0 0;
}
.listUl .dText .dInfor span em {
font-style: normal;
font-size: 12px;
color: #555555;
}
.listUl .dText .dInfor .snature {
width: 135px;
}
.listUl .dText .dInfor span {
font-size: 12px;
color: #555555;
background: url(/images/new_companies/homepageImg/borders.gif) no-repeat right center;
display: block;
float: left;
padding: 0 15px 0 0;
}
.listUl .dText .dInfor .sNoborder {
background: none;
}
.listUl .dIcon .fist_s {
background: url(../images/icon1.gif) no-repeat left center;
text-indent: 18px;
}
.listUl .dIcon span {
display: block;
float: left;
margin-right: 20px;
display: inline;
}
.listUl .dIcon .two_s {
background: url(../images/icon2.gif) no-repeat left center;
text-indent: 24px;
}

.btniconc {
	background: url(../images/icon.png) no-repeat -189px -431px;
    display: block;
    height: 23px;
    width: 58px;
}
.btniconc:hover {
	background: url(../images/icon.png) no-repeat -126px -431px;
}


.btniconin {
    background: url("../images/btnjr.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    display: block;
    height: 23px;
    width: 58px;
}

.serchbtn {
    background: url("../images/icon.png") no-repeat scroll -210px -35px rgba(0, 0, 0, 0);
    display: block;
    height: 37px;
    margin: 0 auto;
    width: 145px;
}


.companyHead .companyTitle .divCompanyTitlte .divCompanyInfor .abtnYgz {
background: url(../images/icon.png) no-repeat -223px -146px;
width: 75px;
height: 30px;
cursor: pointer;
display: block;
float: left;
margin: 0 10px;
display: inline;
}

.companyHead .companyTitle .divCompanyTitlte .divCompanyInfor .abtnYgz:hover {

}

.companyHead .companyTitle .divCompanyTitlte .divCompanyInfor .abtngz {
background: url(../images/icon.png) no-repeat -41px -431px;
width: 75px;
height: 30px;
cursor: pointer;
display: block;
float: left;
margin: 0 10px;
display: inline;
}

.companyHead .companyTitle .divCompanyTitlte .divCompanyInfor .abtngz:hover {
    background: url(../images/gzhover.gif) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

#container_index {
/* min-height: 200px; */
width: auto;
margin: 0;
padding-top: 10px;
}
#container_index, #container, #header {
min-width: 980px;
}

.intro-detail-company {
width: 340px;
height: 69px;
margin: 15px 0 0 0;
padding: 0 15px 0 26px;
background: url(../images/detail_line_24.png) no-repeat 0 6px;
overflow: hidden;
line-height: 23px;
font-size: 12px;
color: #555;
}

.detail-show-company {
margin: 15px 0 0 0;
padding: 16px 24px 18px;
background: #f4f4f4 url(../images/detailDown_bg_03.png) repeat-x;
border: 1px solid #e2dcd8;
}
.intro-show-detail {
clear: left;
margin: 11px 0 0 0;
line-height: 20px;
font-size: 12px;
color: #555;
}

.less-intro-detail {
display: inline-block;
height: 20px;
margin: 0 4px 0 0;
padding: 0 14px 0 0;
background: url(../images/detailess_icon_03.png) no-repeat right 7px;
float: right;
line-height: 20px;
text-align: right;
color: #005eac;
cursor: pointer;
}