@charset "utf-8";
/* CSS Document */

.card-edit {
    position: relative;
}
.profile-avatar {
    border: 1px solid #CCCCCC;
    height: 130px;
    overflow: hidden;
    position: absolute;
    right: 200px;
    top: 95px;
    width: 130px;
}
.profile-avatar .imgout {
    height: 130px;
    overflow: hidden;
    width: 130px;
}
.profile-avatar .imgin {
    cursor: pointer;
    overflow: hidden;
}
.profile-avatar img {
    width: 130px;
}
.profile-avatar a.edit {
    background: url("../images/profile-photo-edit.png") no-repeat scroll 31px 8px #FFFFFF;
    bottom: 0;
    color: #777777;
    display: none;
    height: 27px;
    left: 0;
    line-height: 27px;
    opacity: 0.8;
    overflow: hidden;
    padding-left: 26px;
    position: absolute;
    text-align: center;
    width: 104px;
}
.profile-edit table.form {
    margin-top: 40px;
}
.profile-edit table.form td.label {
    vertical-align: top;
}
.profile-edit table.form td {
    font-size: 14px;
    line-height: 30px;
    padding: 0 0 18px;
    vertical-align: middle;
}
table.form td.label, table.form th.label {
    text-align: right;
}
.profile-edit table.form td.label span {
    color: #FF3366;
    padding-right: 5px;
    vertical-align: middle;
}
.profile-edit table.card-form td.input input.text {
    width: 125px;
}
table.form td.input input.text, table.form td.input select {
    vertical-align: middle;
}
table.form input.text {
    background-color: #FFFFFF;
    border-color: #CCCCCC #EBEBEB #EBEBEB #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-style: solid;
    border-width: 1px;
    height: 18px;
    padding: 2px;
    width: 220px;
}
.profile-edit table.form input.text {
    background: none repeat scroll 0 0 #F9F9F9;
    border-color: #C6C6C6 #EEEEEE #EEEEEE #C6C6C6;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    margin-top: -2px;
    padding: 5px;
    width: 245px;
}
.profile-edit table.form .error {
    padding-top: 5px;
}
.red {
    color: #FF0000;
}
.profile-edit table.form input.checkbox {
    display: inline-block;
    height: 30px;
}
input.checkbox {
    vertical-align: middle;
}
.profile-edit table.form label {
    display: inline-block;
    line-height: 30px;
    vertical-align: top;
}
.profile-edit table.form input.checkbox {
    display: inline-block;
    height: 30px;
}
.profile-edit table.form td.input select.short {
    width: 120px;
}
.profile-edit table.form td.input select {
    display: inline-block;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    vertical-align: middle;
}
.profile-edit table.form td.button span.blank {
    display: inline-block;
    overflow: hidden;
    width: 10px;
}

.profile-avatar a.edit:hover {
    background: url("../images/profile-photo-editon.png") no-repeat scroll 31px 8px #444951;
    color: #FFFFFF;
    text-decoration: none;
}

