@charset "utf-8";
* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #333; background:#fff; FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
BUTTON {
	FONT-SIZE: 12px
}
SELECT {
	BACKGROUND: #fff; FONT-SIZE: 12px
}
TEXTAREA {
	BACKGROUND: #fff; FONT-SIZE: 12px
}
TH {
	WHITE-SPACE: nowrap
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; DISPLAY: block; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
INPUT {
	VERTICAL-ALIGN: middle
}
SELECT {
	VERTICAL-ALIGN: middle
}
LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
A {
	COLOR: #16387c; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.clear {
	CLEAR: both
}

/*头部菜单*/
.header {
	BACKGROUND: #3071bf; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 40px; PADDING-TOP: 0px
}
.header .logo {
	WIDTH: 200px; FLOAT: left; HEIGHT: 40px; font:19px Georgia, Arial, sans-serif; line-height:40px; color:#FFF; font-weight:700
}
.header .info {
	DISPLAY: block; FLOAT: left;PADDING-TOP: 6px;TEXT-ALIGN: center; LINE-HEIGHT: 28px; FONT-SIZE: 12px; FONT-WEIGHT: bold; color:#FFF
}
.header .right_menu {
	DISPLAY: block; FLOAT: right;PADDING-TOP: 6px
}
.right_menu SPAN A {
	TEXT-ALIGN: center; LINE-HEIGHT: 28px; BORDER-RIGHT-WIDTH: 1px; PADDING-LEFT: 26px; PADDING-RIGHT: 10px; DISPLAY: block; BACKGROUND: url(../images/top_menubg.gif) #368ddd no-repeat 5px 5px; FLOAT: left; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; COLOR: #fff; MARGIN-LEFT: 8px; FONT-SIZE: 12px; BORDER-LEFT-WIDTH: 1px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.right_menu SPAN A:hover {
	BACKGROUND-COLOR: #1071bf; COLOR: #fff
}
.right_menu SPAN A.bb {
	BACKGROUND-POSITION: 5px -27px
}
.right_menu SPAN A.cc {
	BACKGROUND-POSITION: 5px -60px
}
.right_menu SPAN A.dd {
	BACKGROUND-POSITION: 5px -91px
}

/*左侧菜单*/
#menu {TEXT-ALIGN: left; MARGIN-TOP: 10px; WIDTH: 150px; FLOAT: left; FONT: 12px Arial, Helvetica, sans-serif;}
#menu UL{ padding:5px;}
#menu UL LI A {PADDING-LEFT: 20px; DISPLAY: block; LINE-HEIGHT: 26px; HEIGHT: 26px; color:#0071bf; TEXT-DECORATION: none}
#menu UL LI A:hover {BACKGROUND-COLOR: #3071bf; COLOR: #fff}
.none {DISPLAY: none; padding:0px; margin:0px;}
.menubg_1 {
	CURSOR: pointer;TEXT-ALIGN: left; LINE-HEIGHT: 28px; MARGIN-TOP: 1px; TEXT-INDENT: 25px; WIDTH: 150px; BACKGROUND: url(../images/menubg.png) repeat-x; HEIGHT: 30px; COLOR: #777; FONT-SIZE: 14px; FONT-WEIGHT: 700
}
.menubg_2 {
	CURSOR: pointer; TEXT-ALIGN: left; LINE-HEIGHT: 28px; MARGIN-TOP: 1px; TEXT-INDENT: 25px; WIDTH: 150px; BACKGROUND: url(../images/menubg.png) left -31px; HEIGHT: 30px; COLOR: #0061bf; FONT-SIZE: 14px; FONT-WEIGHT: 700
}

/*UL框架风格设置，一般不用去修改*/
.ui-layout-pane {
	BORDER-BOTTOM: #c6d6e7 0px solid; BORDER-LEFT: #c6d6e7 0px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #c6d6e7 0px solid; BORDER-RIGHT: #c6d6e7 0px solid; PADDING-TOP: 0px
}
.ui-layout-pane-north {
	BORDER-BOTTOM: #c6d6e7 0px solid; BORDER-LEFT: #c6d6e7 0px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #c6d6e7 0px solid; BORDER-RIGHT: #c6d6e7 0px solid; PADDING-TOP: 0px
}
.ui-layout-pane-south {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #f4f6fa; BORDER-TOP: #c6d6e7 0px solid; PADDING-TOP: 0px
}
.ui-layout-pane-west {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 13px; PADDING-RIGHT: 0px; BACKGROUND: #f7f7f7; OVERFLOW: hidden; PADDING-TOP: 3px; BORDER-RIGHT: #c6d6e7 0px solid;
}
.ui-layout-center .ui-layout-content {
	BORDER-LEFT: #c6d6e7 0px solid; BORDER-TOP: #c6d6e7 0px solid
}
.ui-layout-pane-center {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.ui-layout-content {
	PADDING-BOTTOM: px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: px
}
.ui-layout-resizer {
	BACKGROUND: #f3f3f3
}
.ui-layout-toggler {
	BACKGROUND: #bcd
}
.ui-layout-resizer-dragging {
	BACKGROUND: #e2ecef
}
.ui-layout-resizer:hover .ui-layout-toggler {
	BACKGROUND: #bcd
}
.ui-layout-resizer:hover .ui-layout-toggler:hover {
	BACKGROUND: #fc0
}
.ui-layout-resizer-dragging-limit {
	BACKGROUND: #bcd
}