/* 
    会员模块主要的css
    class前缀  mem
    2014.4.16
*/
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.showerror{ color:#F00;}
.member_mian{
    width: 1000px;
    margin: 15px auto 25px;
    margin: 0 auto;
}
.member_mianbg{
    width: 1000px;
    min-height: 700px;
    float: left;
	margin-bottom:20px;
}
.mem_left_all{
    width:720px; 
    height: auto; 
    float: left; 
}

.mem_left_all .ad{
	border:0;
	margin-top:20px;
}
.mem_right_all{
    width:280px; 
    height: auto; 
    float: left; 
}
.mem_left{
    width: 700px;
    height: auto;
    border-radius: 5px;
    float: left;
    margin-top: 20px;
     -moz-box-shadow:  0 0 8px #666666;
    -webkit-box-shadow:  0 0 8px #666666;
    box-shadow:  0 0 8px #666666;
    background: #ffffff;
}
.member_mian .pubfeed{
	background-color: #F5F5F5;white-space:nowrap;
}

.mem_post_feed{
    width: 660px;
    height: auto;
    margin: 0 auto;
}
.mem_post_feed .focus{border:1px solid  #39F;}
.mem_post_feed h3{
    padding: 10px 0 10px 5px;
}
.mem_post_feed h3 span{
    float: right;
    padding-top: 3px;
    color: #e0a891;
}
.mem_post_feed h3 strong{
    font-weight: 500;
    font-size: 18px;
	color: #999999;
	background:url(../images/share_icon.png) no-repeat ;
	padding-left:35px;
}
.mem_post_feed h3 span strong{
    font-weight: 700;
    font-size: 22px;
    font-style: italic;
    font-family: Constantia, Georgia;
	background:none;
	padding-left:0;
}
.mem_post_feed_icon{
   padding: 3px 0 9px 0;
overflow: hidden;
height: 33px;
text-align: right;
}
.mem_post_feed_icon span{
   padding: 0px 25px 0 0;
    float: left;
}
.mem_post_feed_icon span span a{
    width: 29px;
    height: 25px;
    display: inline-block;
    color: #5b8ab1;
    line-height: 25px;
}
.mem_feed_face{
padding: 0px 25px 0px 0px;
float: left;
}
.mem_feed_face a{
        width: 29px;
    height: 25px;
    display: inline-block;
    color: rgb(91, 138, 177);
    line-height: 25px;
    background: url(../images/feed_post_bg.gif) no-repeat 0 -50px;
}
.mem_feed_face a:hover{
    background: url(../images/feed_post_bg.gif) no-repeat 0 -75px;
}

.mem_feed_pic a{
    background: url(../images/feed_post_bg.gif) no-repeat 0 0px;
}
.mem_feed_pic a:hover{
    background: url(../images/feed_post_bg.gif) no-repeat 0 -25px;
}

.textarea {
    border: 1px solid #bbb;
    height: 66px;
    width: 650px;
    background: #fff url(/images/statebox/talkbox-textarea-bg.gif) repeat-x 0 0;
    font-size: 14px;
    overflow-x: hidden;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    resize: none;
	padding:5px 0 0 7px;
	color: #6A6A6A;
}

.mem_feed_submit{
    width: 80px;
    height: 30px;
    cursor: pointer;
    line-height: 28px;
    font-size: 15px;
    color: #ffffff;
    float: right;
    background: #5DADE2;
    text-align: center;
    border-radius: 2px;
    font-weight: normal;
    font-family: '微软雅黑';
    border-bottom: 2px solid #5DADE2;
}
.mem_feed_submit:hover{
    background: #2893D9;
}
.mem_feed_con{
    width: 565px;
    height: auto;
    float: left;
    padding: 20px 35px 0 100px;
    border-bottom: 1px solid #e6e6e6;
}

.mem_feed_con .feedlayout{
    position: relative;
    padding-bottom: 20px;
}
.mem_clearfix {
    zoom: 1;
    display: inline-block;
    display: block;
}
.mem_feed_con .absolute{
    position: absolute;
    left: -68px;
}
.mem_feed_con  .feedlayout h3{
    width:100%;
    margin-bottom: 5px;
	font-size:14px;
}
.mem_feed_con  .feedlayout h3 a{
    font-size: 15px;
    color: #127e9b;
    font-weight: 700;
    font-family: verdana;
}
.mem_feed_con  .feedlayout h3 a:hover{
	text-decoration:underline;
}
.mem_feed_con  .feedlayout h3 div a{
    font-size: 12px;
    color: #127e9a;
    font-weight: 300;
}
.mem_feed_con .zoom{
	cursor: url("../images/big.cur"), default;
}
.mem_feed_con .pic{
display: inline;
height: 52px;
width: 52px;
overflow: hidden;
margin-top: 2px;
}
.mem_feed_con_head{
    padding: 10px 10px 0 42px;
    margin-top: 10px;
    clear: both;
    position: relative;
    zoom: 1;
    height: 22px;
    line-height: 22px;
}
.mem_feed_con_head em{
    display: block;
    position: absolute;
    left: 30px;
    top: 11px;
    width: 0;
    height: 19px;
    border-left: 5px solid #E76322;
}
.mem_feed_con_head h3{
    font-family: 'Microsoft YaHei';
    font-size: 16px;
    font-weight: bold;
}
.mem_feed_box{
    position: absolute;
    padding: 4px 1px 1px 1px;
    top: 0;
    right: 12px;
    width: 120px;
}
.mem_feed_tabs a, .mem_feed_box .result {
    line-height: 30px;
    cursor: pointer;
}
.mem_feed_box .pointer {
    display: block;
    position: absolute;
    top: 16px;
    left:auto;
    right: 8px;
    width: 0;
    height: 0;
    overflow: hidden;
    border: 5px solid #fff;
    border-top: 5px solid #bc4a4a;
}

.mem_feed_tabs {
    display: none;
}
.mem_feed_tabs_hover {
    z-index: 1;
    padding: 3px 0 0 0;
    background: #fff;
    border: 1px solid #999;
    box-shadow: 2px 2px 2px #e5e5e5;
}
.mem_feed_tabs_hover .pointer {
    border: 5px solid #fff;
    border-bottom: 5px solid #bc4a4a;
    top: 10px;
}
.mem_feed_tabs a, .feed-setting a, .mem_feed_box  .result {
    display: block;
    padding: 0 22px;
    color: #666;
    text-align: right;
}
.mem_feed_tabs a:hover{
    background: none repeat scroll 0 0 #E4EFF5;
    color: #137DB3;
    text-decoration: none;
}
.mem_timeshow{
    font-size: 12px;
    color: #f6954e;
}

.mem_feed_jiantou{
    border-width: 1px;
    border-style: solid;
    padding: 15px 20px 10px;
    margin: 5px 0 15px;
    border-radius: 3px;
    border-color: #e0dbd1;
    background: #f2f2f2;
    width: 523px;
	display:none;
	float:left;
}
.mem_feed_jiantou_a{
    position: absolute;
    margin: -23px 0 0;
    width: 22px;
    cursor: default;
}
.mem_feed_jiantou_a *{
    font-family: "SimSun";
    overflow: hidden;
    font-size: 12px;
    line-height: 1.231;
    display: block;
    height: 12px;
}
.mem_jia_border{
    color: #f2f2f2;
    margin: -11px 0 0;
}
.mem_jia_back{
    color: #e6e6e6;
}
.mem_feed_post h4 a{
    font-size: 12px;
    line-height: 21px;
    color: #1fbba6;
}
#mem_show_uname{
    font-size:14px;
    color: #1fbba6;
}

.mem_comment{
    
}
.mem_com_textarea{
    overflow: hidden;
    margin: 0px 0px 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    font-family: Tahoma, 宋体;
    word-wrap: break-word;
    line-height: 18px;
    outline: none;
    height: 36px;
    width: 99%;
    resize: none;
    background: #ffffff;
    border: 1px solid #bbb;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px #eaeaea inset;
	padding:5px;
}
.mem_com_submit{
    cursor: pointer;
    font-size: 15px;
    color:#ffffff;
    float: right;
    background: #5DADE2;
    text-align: center;
    border-radius: 3px;
    font-weight: normal;
    font-family: '微软雅黑';
    width: 60px; 
    height: 24px; 
    line-height: 20px;
	
}
#show_new_comment_106 h3 a{
	color:#ffffff;
	text-decoration:none;
}
.mem_com_submit:hover{
    background: #2893D9;
	text-decoration:none;
}
.mem_comlist{
    width: 100%;
    float: left;
    border-bottom: 1px  dotted #9fa6b6;
    padding-bottom: 5px;
    padding-top: 5px;
}
.mem_comlist h2 a{
	color:#ffffff;;
}
.mem_comlist .focus{
	border:1px solid  #39F;
}
.mem_comlist_a{
    float: left;
    height:auto;
    padding-right: 10px;
    width: auto;
    margin-top: 5px;
}
.mem_comlist_b{
    float: left;
    height:auto;
    padding: 5px 10px 0 0;
    width:460px;
}
.show_repost_con{
    position:absolute; 
    width:400px;
    padding-bottom: 10px;
    height:auto;
    border: 1px solid #D0D0D0;
    box-shadow: 0 0 2px 2px #fff inset,1px 1px 0 rgba(127,127,127,0.1);
    overflow: hidden;
    background: none repeat scroll 0 0 white;
    border-radius: 3px;
    border: 3px solid #7b7b7b;
}
.show_repost{
    border:0px solid #DBEAF5; 
    position:absolute; 
    top:0px; left:0px; right:0px; bottom:0px; 
    background-color: rgb(119, 119, 119);
    overflow:hidden; 
    width:100%; 
    min-height:100%!important;
    filter:alpha(opacity=50);
    opacity: 0.5;
    -moz-opacity:0.5;
}
.show_repost_head{
    width: 390px;
    height: 30px;
    float: left;
    background: #e6e6e6;
    font-size:14px;
    font-family: "微软雅黑";
    font-weight: 700;
    padding-left: 10px;
    padding-top: 5px;
    color: #bc4a4a;
}
#show_repost_a{
    width:400px;
    height: auto;
    float: left;
}
.mem_repost{
    width: 90%; 
    margin: 0 auto;
}
.mem_repost h3{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}
.mem_repost_submit{
    cursor: pointer;
    font-size: 15px;
    color: #ffffff;
    float: right;
    background: #f27835;
    text-align: center;
    border-radius: 2px;
    font-weight: normal;
    font-family: '微软雅黑';
    border-bottom: 2px solid #d06426;
    width: 60px; 
    height: 24px; 
    line-height: 20px;
}
.mem_repost_submit:hover{
    background: #ef614b;
}
/*隐藏浏览器的outline,兼容IE。*/
.rl_exp a{outline:none;blr:expression(this.onFocus=this.blur());}


.close_repost{
	position:absolute;right:6px;top:6px;text-decoration:none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:20px;line-height:12px;
	color:#000;text-shadow:0 1px 0 #fff;opacity:0.2;filter:alpha(opacity=20);
}
.close_repost:hover,.close_repost:focus{
	color:#000;cursor:pointer;opacity:0.4;filter:alpha(opacity=40);
}
/*公共清浮类，摘自bootstrap*/
.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display:table;line-height:0;content:"";}
.clearfix:after{clear:both;}

.mem_pic_frame{
    margin: 5px 0 15px;
    border-radius: 3px;
    display:none; 
    position: absolute; 
    width:260px; 
    height:auto; 
    background: #f9f9f9; 
    border: solid 2px #e6e6e6;
}
.new_pic{
    border: solid 1px #800000;
    height: 50px;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
    position: relative;
}
.new_pic  img{
    height: 50px;
    float: left;
    position: relative;
}
.new_pic .pic_remove{
    height:10px;
    width: 10px;
    top: 0px;
    right: 0px;
    position: absolute;
}
.mem_pic_con{
    width:250px; 
    height: auto; 
    display: none;
    padding-top: 5px;
    float: left;
    padding-bottom: 5px;
    padding-left: 10px;
}

.mem_right{
    width: 100%;
    height: auto;
    border: 1px solid #c2c2c2;
    float: left;
    margin-top: 20px;
     -moz-box-shadow:  0 0 3px #333232;
    -webkit-box-shadow:  0 0 3px #333232;
    box-shadow: 0 0 3px #333232;
    background: #ffffff;
}
.mem_right_head{
    float: left;
    width: 270px;
    background: #e6e6e6;
    border-bottom: 2px solid #127e9b;
    line-height: 30px;
    font-weight: bold;
    color: #666;
    font-size: 14px;
    padding-left: 10px;
}
.mem_right_con{
    float: left;
    width: 100%;
    height: auto;
    background: #f9f9f9;
}
.mem_right_change{
    width: 18px;
    float: right;
    margin-top: 7px;
    display: inline;
    height: 18px;
    background: url('../images/mem_may_change.png') no-repeat scroll -11px -314px transparent;
    margin-right: 20px;
}
.mem_right_change:hover{
    background: url('../images/mem_may_change.png') no-repeat scroll -11px -278px transparent;
}
.mem_mayknow{
    float: left;
height:auto;
overflow: hidden;
position: relative;
width: 270px;
padding: 5px 5px 5px 5px;
border-bottom: 1px solid #97c256;
}
.mem_mayknow_head{
    float: left;
    display: block;
    border: 1px solid #E0E0E0;
    width: 30px;
    height: 30px;
    overflow: hidden;
}
.mem_mayknow_info{
    margin: -4px 0px 0px 46px;
line-height: 22px;
color: #666;
}
.mem_mayknow_info h3{
    height: 22px;
line-height: 22px;
overflow: hidden;
width: 150px;
text-overflow: ellipsis;
}
.mem_mayknow_info h3 a{
height: 22px;
line-height: 22px;
overflow: hidden;
font-weight: bold;
color: #127DB2;
}
.mem_mayknow_add{
    float: right;
    padding-left: 8px;
padding-right: 8px;
color: #1357A2;
font-size: 12px;
height: 12px;
line-height: 12px;
padding: 3px 12px;
font-size: 12px;
height: 12px;
line-height: 12px;
padding: 3px 5px;
display: inline-block;
font-family: simsun,serif;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background-color: #E6E6E6;
background-image: linear-gradient(to bottom, #FDFDFD, #F3F2F3);
background-repeat: repeat-x;
border: 1px solid #C6C6C6;
border-radius: 2px;

}
.mem_mayknow_add_img{
    background: url('../images/btn-icon.png') no-repeat scroll 2px -166px transparent;
    height: 12px;
margin-right: 5px;
width: 12px;
display: inline-block;
font-size: 0px;
}

 .feed-more {
    display: none;
	background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    height: 16px;
    line-height: 16px;
    text-align: center;
	padding-bottom:10px;
	color: #127DB3;
}
.feed-more a {
	color: #127DB3;
}
.feed-more a:hover {
    text-decoration:underline;
}
.feedMore {
    background: none repeat scroll 0 0 #F4F4F4;
    border: 1px solid #EBEBEB;
    display: none;
    height: 32px;
    text-align: center;
}
 .feedMore a {
    display: inline-block;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
}
.dot-middle {
    margin: 0 5px;
    position: relative;
    top: -2px;
}