@charset "utf-8";
A:hover{TEXT-DECORATION: underline}
/*框架内部间隔*/
#contain {TEXT-ALIGN:left;MARGIN:0px auto;PADDING:10px;}
/*搜索框*/
#search_div{BORDER: #dbe1e6 1px solid; MARGIN-BOTTOM: 10px; BACKGROUND: #f7f7fa; padding:6px;}
/*表单框架*/
.form_box {border:1px solid #ddd;padding:5px;}
/*表单扩展*/
input.button,button.button,A.button{
	BACKGROUND:#f7f7f7 url(../images/buttonbg.png) repeat-x left top;
}
input.button:hover,button.button:hover,A.button:hover{
	BACKGROUND:#f7f7f7 url(../images/buttonbg.png) repeat-x left bottom;
}
.input.ruler {
      BACKGROUND:#ffffff url(../images/ruler.gif) repeat-x left bottom; border:1px solid #999;width:400px;
}
.input.date {
	  BACKGROUND:#ffffff url(../images/date.gif) no-repeat 160px 4px; border:1px solid #999; margin-right:3px; width:170px;
}
.inputfile {
	float:left; BORDER: #ddd 1px solid; PADDING: 0px 5px; HEIGHT: 28px; LINE-HEIGHT: 28px; MARGIN: 0px; margin-right:5px; VERTICAL-ALIGN: middle; BACKGROUND: #ffffff; width:400px;
}
/*导航标题菜单*/
.admin_title{HEIGHT:38px;COLOR:#000;FONT-SIZE:16px;FONT-WEIGHT:bold}
.admin_title h2{FLOAT:left; COLOR:#333; LINE-HEIGHT:28px;BACKGROUND:#fff;PADDING:0px 10px;MARGIN:0px;FONT-SIZE:16px;FONT-WEIGHT:700;}

/*导航子菜单*/
.admin_menu {LINE-HEIGHT:28px;HEIGHT:28px;background:#eceff2;padding:5px;}

/*分页*/
#pages{float:right;}
#pages a{display:inline-block; height:22px;line-height:22px;background:#fff;border:1px solid #e3e3e3; text-align:center; color:#333; padding:0 10px}
#pages a.firstPage{width:56px;padding:0;margin-right: 5px}
#pages a.prePage{width:56px;padding:0px;margin-right: 5px}
#pages a.lastPage{width:56px;padding:0px;margin-left: 5px}
#pages a:hover {background:#f1f1f1; color:#000; text-decoration:none; }
#pages span{display:inline-block; height:22px;padding:0 10px; line-height:22px;border:1px solid #e3e3e3; background-color:#2986D3; color:#FFF;text-align:center;font-size: 14px;}
